{% extends 'elections/base.html' %}
{% load i18n %}

{% block content %}

<h2>Categorias de Antecedentes</h2>
<ul id="lista_categorias">
{% for background_category in election.backgroundcategory_set.all %}
    <li>
    {{ background_category.name }} <a href="{% url background_create background_category_pk=background_category.pk %}">(Agregar Antecedente)</a>
    <ul>
    {% for background in background_category.background_set.all %}
        <li>{{ background.name }}</li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
<br>

<h2>Agregar Categoria de Antecedentes</h2>

<form method="POST">{% csrf_token %}
    <table>
    {{form.as_table}}
    </table>
    <input type="submit" value="{% trans "Guardar" %}" />
</form>
<div id="link_next">
</div>
<!-- <a href="{% url category_create election_slug=election.slug %}">Siguiente(Questionario)</a> -->
{% endblock %}

{% block extra_js %}
{{ form.media }}
<script type="text/javascript">
    $(function(){
        if($("#lista_categorias li").size() > 0){
            $("#link_next").append('<a href="{% url category_create election_slug=election.slug %}">Siguiente (Agregar Cuestionario)</a>');
        }
    })
</script>
{% endblock %}