{% extends 'elections/base_edits.html' %}
{% load i18n %}

{% block content %}

<div class="fondo_formulario">

<div class="numero_off uno">1.</div>

<div class="numero_off dos">2.</div>

<div class="numero_off tres">3.</div>

<div class="numero_on cuatro">4.</div>

<div class="numero_off cinco">5.</div>

<h2>Cat. Antecedentes</h2>
<ul id="lista_categorias">
{% for background_category in election.backgroundcategory_set.all %}
    <li>
    {{ background_category.name }} <a href="{% url background_create background_category_pk=background_category.pk %}">(Agregar Antecedente)</a>
    <ul>
    {% for background in background_category.background_set.all %}
        <li>{{ background.name }}</li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
<br>

<form name='backgroundcategory' method="POST">{% csrf_token %}
    <table>
    {{form.as_table}}
    </table>
    <a class="bt_siguiente" href="javascript: void(0);" onclick="document.forms['backgroundcategory'].submit();return false;"><img src= "/static/img/bt_siguiente.png" /></a>
</form>

<div id="link_next">
</div>
<!-- <a href="{% url category_create election_slug=election.slug %}">Siguiente(Questionario)</a> -->

</div>

{% endblock %}

{% block extra_js %}
{{ form.media }}
<script type="text/javascript">
    $(function(){
        if($("#lista_categorias li").size() > 0){
            $("#link_next").append('<a href="{% url category_create election_slug=election.slug %}">Siguiente (Agregar Cuestionario)</a>');
        }
    });
</script>
{% endblock %}