{% extends 'elections/base_edits.html' %}
{% load i18n %}

{% block content %}
<h2>{% blocktrans with category_name=background_category.name %}Antecedentes para {{ category_name }}{% endblocktrans %}</h2>
<ul>
{% for background in background_category.background_set.all %}
    <li>{{ background.name }}</li>
{% endfor %}
</ul>
<br>

<h2>{% trans 'Agregar Antecedente' %}</h2>

<form method="POST">{% csrf_token %}
    <table>
    {{form.as_table}}
    </table>
    <input type="submit" value="{% trans "Guardar" %}" />
</form>

<a href="{% url "background_category_create" election_slug=background_category.election.slug %}">volver</a>

{% endblock %}