{% load i18n %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/footer.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nav.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style-embed.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/media-queries.css">
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="keywords" content="transparencia, participación, democracia, eleccion, candidato" />
    <title>{% block title%}{% trans 'Aquí los conoces, tú los eliges' %}{% endblock title %} | {% trans 'candideit.org' %}</title>
    {% if election %}
    <meta name="Description" content="{{ election.description }}" />
    {% endif %}
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
{% block content %}
{% endblock content %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/accordionForElections.js"></script>
<script type="text/javascript">
    var uvOptions = {};
    (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/5M7s1fetVuJpCZzITw9g.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29858310-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% block extra_js %}
{% endblock extra_js %}

</body>
    <div id="footerembed">
    </div>
</html>
