<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/footer.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nav.css">

    <title>{% block title%}Candidator{% endblock title %}</title>
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
<div>

</div>

    <div class="header_color">
        <header class="wrapBasic" id="mainHeader">
            <a href="/"><img src="{{ STATIC_URL }}img/logo_header.png" class="isotipo">
            <img src="{{ STATIC_URL }}img/logo_ciudadano.png" class="logo_ciudadano">
            </a>

            <h1 style="display: none;">Vota inteligente</h1>
        </header>
        <nav id="mainNavigation">
            <div class="wrapBasic">
                <ul>
                    <li> <a href="/index">PÁGINA PRINCIPAL</a> </li>
                    <li> <a href="#">QUIÉNES SOMOS</a></li>
                    <li> <a href="{% url medianaranja1 election_slug=election.slug username=election.owner.username %}">MEDIA NARANJA</a></li>
                    <li> <a href="{% url election_detail_profiles slug=election.slug username=election.owner.username %}">PERFIL DE CANDIDATOS</a></li>
                    <li> <a href="{% url election_compare username=election.owner.username slug=election.slug %}">COMPARA</a></li>
                    {% if user.is_authenticated %}
                        <li> <a href="{% url auth_logout %}">SALIR</a> </li>
                    {% else %}
                        <li> <a href="{% url auth_login %}">CONECTARSE</a> </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
      </div>

{% block content %}
{% endblock content %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
{% block extra_js %}
{% endblock extra_js %}
</body>

    <div id="footer">
    </div>

</html>
<html>