<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/footer.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nav.css">

    <title>{% block title%}Candidator{% endblock title %}</title>
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
<div>
	
</div>

	<div>
        <header class="wrapBasic" id="mainHeader">
            <a href="/"><img src="{{ STATIC_URL }}img/isotipo_vi.png" class="isotipo">
            <img src="{{ STATIC_URL }}img/logotipo_vi.png" class="logotipo">
            </a>

            <h1 style="display: none;">Vota inteligente</h1>
        </header>
        <nav id="mainNavigation">
        	<div class="wrapBasic">
                <ul>
                	<li> <a href="../">INDEX</a> </li> 
		    		<li> <a href="#">QUIÉNES SOMOS</a></li>
                    <li> <a href="medianaranja">MEDIA NARANJA</a></li>
                    <li> <a href="#">PERFIL DE CANDIDATOS</a></li>
                    <li> <a href="compare">COMPARA</a></li>
                    {% if user.is_authenticated %}
                    	<li> <a href="{% url auth_logout %}">LOGOUT</a> </li>
                    {% else %}
                    	<li> <a href="{% url auth_login %}">LOGIN</a> </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
      </div>

{% block content %}
{% endblock content %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
{% block extra_js %}
{% endblock extra_js %}
</body>

	<div id="footer">
		<article class="wrapFoot">
			<section class="proyectoDe">
				<h3>Un proyecto de</h3>
				<ul class="logos">
					<li>
						<a href="http://poderciudadano.org">
							<img src="{{ STATIC_URL}}img/PODERCIUDADANO_LOGO.jpg" class="">
	      				</a>
					</li>
					<li>
						<a href="http://www.cippec.org">
							<img src="{{ STATIC_URL }}img/CIPPEC_LOGO.jpg" class="" style="margin-top: 10px;">
	      				</a>
					</li>
					<li>
						<a href="http://yoquierosaber.org">
							<img src="{{ STATIC_URL }}img/YOQUIEROSABER_LOGO.jpg" class="">
	      				</a>
					</li>
				</ul>
			</section>
			<section class="FCI">
				<h3>Desarrollado por:</h3>
				<a href="http://ciudadanointeligente.org">
							<img src="{{ STATIC_URL }}img/FCI_LOGO.jpg" style="margin-top: -6px;">
	      				</a>
			</section>

		</article>

	</div>

</html>
<html>