{% load i18n %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/footer.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nav.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.15.custom.css">

    <title>{% block title%}{% trans 'Administración' %}{% endblock title %} | {% trans 'candideit.org' %}</title>
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
<div>

</div>

    <div class="header_color">
        <header class="wrapBasic" id="mainHeader">
            <a href="/"><img src="{{ STATIC_URL }}img/logo_header.png" class="isotipo">
            </a>
            <a href="http://www.ciudadanointeligente.org">
                <img src="{{ STATIC_URL }}img/logo_ciudadano.png" class="logo_ciudadano">
            </a>
            <h1 style="display: none;">candideit.org</h1>
        </header>
        <nav id="mainNavigation">
            <div class="wrapBasic">
                <ul class="leftNav">
                    <li>
                        <a href="{% url my_election_list %}">{% trans "Hola" %} {{user.username}}!</a>
                    </li>
                </ul>
                <ul>
                    <li> <a href="{% url election_create %}">{% trans 'NUEVA ELECCIÓN' %}</a> </li>
                    <li> <a href="{% url my_election_list %}">{% trans 'MIS ELECCIONES' %}</a> </li>
                    {# <li> <a href="#">QUIÉNES SOMOS</a></li> #}
                    {# <li> <a href="{% url my_election_list %}">MIS ELECCIONES</a> </li> #}
                    {% if user.is_authenticated %}
                        <li> <a href="{% url auth_logout %}">{% trans 'LOGOUT' %}</a> </li>
                    {% else %}
                        <li> <a href="{% url auth_login %}">{% trans 'LOGIN' %}</a> </li>
                    {% endif %}
                </ul>
            </div>
            
        </nav>
      </div>
<div class="fondo_wizard">
{% block content %}
{% endblock content %}
</div>

<script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.admin-menu.js"></script>
<script src="{{ STATIC_URL }}js/accordionForElections.js"></script>
{% block extra_js %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29858310-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock extra_js %}
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/5M7s1fetVuJpCZzITw9g.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
</body>

    <div id="footer">
    </div>

</html>
