{% extends 'elections/base.html' %}
{% load i18n %}

{% block content %}
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
    {{form.as_table}}
    </table>
    <table id="id_contact_info_table" border="0" cellpadding="0" cellspacing="5">
        <thead>
            <tr>
                <th scope="col">Label</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset.forms %}
            <tr id="{{ form.prefix }}-row">
                <td>{{ form.label }}</td>
                <td>{{ form.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ formset.management_form }}
    <input type="submit" value="{% trans "Guardar" %}" />
</form>
{% endblock %}

{% block extra_js %}
{{ form.media }}
<script type="text/javascript">
    $('#id_first_name, #id_last_name').keyup(function() {
        var first_name = $.trim($("#id_first_name").val());
        var last_name = $.trim($("#id_last_name").val());
        var value = "";
        if (first_name != '' || last_name != '') {
            if (first_name != '' && last_name != '') {
                value = first_name + '-' + last_name
            }
            else if (first_name == '') {
                value = last_name
            }
            else if (last_name == '') {
                value = first_name
            }
        }
        $('#id_slug').val($.slug(value));
    });
    $(function() {
        $('#id_contact_info_table tbody tr').formset({
            extraClasses: ['row1', 'row2', 'row3']
        })
    });
</script>
{% endblock %}