{% extends "elections/base.html" %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profile.css">
{% endblock extra_head %}

{% block title %}
{{ block.super }} Election
{% endblock title %}
{% block content %}
<div id="candidatesProfile" class="wrapper">
<div class="candidatesBasicInformation wrapW">
<article>
    <div class="candidatesBasicInformation wrapW">
        <header>
            <h2>
<a href="{% url candidate_detail username=candidate.election.owner.username election_slug=candidate.election.slug slug=candidate.slug %}">{{ candidate.name }}</a></h2>
        </header>
        <div>
            <div class="profileImg"><img src="{{ MEDIA_URL }}{{ candidate.photo }}" alt="{{ candidate.name }}"/></div>

            <section class="personalInfo">
                <h3 style="display:none;">Información personal</h3>
                <span class="profile-description">Nacimiento: </span><br />
                <span class="profile-description">Profesión: </span><br />
                <span class="profile-description">Estado Civil: </span><br />
                <span class="profile-description">Hijos: </span><br />
                <span class="profile-description">Religión: </span><br />

            </section>
            <section class="enlacesPersonales">
                <h3 style="display:none;">Enlaces personales:</h3>
                <ul class="ulEnlacesPersonales">
                    <li class="twitter"><a href="http://www.twitter.com/" target="_blank">Twitter</a></li>
                    <li class="facebook"><a href="http://www.facebook.com" target="_blank">Facebook</a></li>
                    <li><a href="#" target="_blank">link</a></li>
                    </ul>
                </section>


        </div>
    </div>  <!--ends candidate basic information-->
         <section class="trayectoriaYPosiciones">
                 <section class="trayectoria">
                    <h2>Antecedentes: </h2>
                     <div class="brdotted">
                        <div class="accordion">
                            <h3>Tendencia política: </h3>
                            <div class="accordionContent">
                                <span class="profile-description">Partido político actual: </span><br />
                                <ul>
                                <?php foreach ($profile['CandidateParty'] as $party) {
                                ?>
                                    <li><?php echo $party['starting_year'].'-'.$party['ending_year'].', '.$party['party']; ?></li>
                                <?php
                                }
                                ?>
                                </ul>
                            </div>

                            <h3>Experiencia política: </h3>
                            <div class="accordionContent">
                                <ul>
                                <?php
                                foreach ($profile['CandidatePoliticalExperience'] as $type) {
                                ?>
                                    <h4><?php echo $type['description'];?></h4>
                                    <?php foreach ($type['experiences'] as $experience) {
                                    ?>
                                    <li><?php echo $experience['starting_year'].'-'.$experience['ending_year'].', '.$experience['position']; ?></li>
                                    <?php
                                    }
                                }
                                ?>
                                </ul>

                            </div>

                            <h3>Educación:</h3>
                            <div class="accordionContent">
                                <span class="profile-description">Educación secundaria: </span><?php echo $profile['CandidateProfile']['highschool'];?><br />
                                <span class="profile-description">Educación universitaria: </span>
                                <ul>
                                    <?php
                                        foreach ($profile['CandidateUniversityStudy'] as $universityStudy) {
                                    ?>
                                    <li><?php echo $universityStudy['career'].', '.$universityStudy['university'].', '.$universityStudy['ending_year'];?></li>
                                    <?php
                                        }
                                    ?>
                                </ul>
                            </div>

                            <h3>Antecedentes laborales: </h3>
                            <div class="accordionContent">
                                <ul>
                                    <?php
                                    foreach ($profile['CandidateWorkExperience'] as $workExperience) {
                                    ?>
                                    <li><?php echo $workExperience['starting_year'].'-'.$workExperience['ending_year'].': '.$workExperience['position'].' en '.$workExperience['company'];?></li>
                                    <?php
                                    }
                                    ?>
                                </ul>
                             </div>

                             <h3>Ingresos</h3>
                             <div class="accordionContent">
                                 <span class="profile-description">Ingresos: </span><?php echo $profile['CandidateProfile']['assets'];?><br />
                             </div>
                        </div><!--ends accordion-->
                    </div>  <!--ends brdotted-->
                </section><!--ends trayectoria-->

                <section class="posiciones">

                        <h2>Posicion política en: </h2>
                        <div class="accordion">
                            <?php foreach ($categories as $category) { ?>
                            <div class="category">
                                <h3><?php echo $category['Category']['name'];?></h3>
                                <div class="accordionContent">
                                    <?php
                                    foreach ($category['Question'] as $question) {
                                        $questionDescription = $question['question'];

                                    ?>
                                   <h4><?php echo $questionDescription;?><?php
                                    if ($question['explanation']) {
                                    ?>
                                    <span class="has-an-explanation question questionTip" tooltip_message="<?php echo $question['explanation'];?>">&nbsp;</span><br />
                                    <?php
                                    }
                                    ?></h4>
                                    <div class="answerContainer">
                                        <?php
                                        $amountOfAnswers = 0;
                                        foreach ($question['Answer'] as $answer ) {
                                        if (!empty($answer['Weight']) && $answer['Weight'][0]['weighting']!=0 ) {
                                            $amountOfAnswers++;
                                            ?>
                                            <span style="opacity:<?php echo $answer['Weight'][0]['weighting'];?>;" class="answer"><?php echo $answer['answer'];?></span>
                                            <?php
                                            if (!empty($answer['Weight'][0]['SourceOfAnswer'])) {
                                            ?>
                                            <span class="has-an-explanation answer answerTip" tooltip_message="<?php

                                                foreach ($answer['Weight'][0]['SourceOfAnswer'] as $source) {
                                                echo '&#8226;<span class=\'sentence\'>&quot;'.Sanitize::html($source['sentence']).'&quot;</span> el '.$this->Time->format('d/m/Y',$source['date']).' ';
                                                if (!is_null($source['link']) && $source['link']!='') {
                                                echo '<a class=\'media-name\' href=\''.$source['link'].'\' target=\'_blank\'>'.Sanitize::html($source['media_name']).'</a><br />';
                                                }
                                                else {
                                                echo Sanitize::html($source['media_name']);
                                                }

                                            }
                                            ?>">&nbsp;</span>
                                            <?php
                                            }
                                            echo "<br />";
                                        }
                                        ?>
                                        <?php
                                        }
                                        if ($amountOfAnswers == 0) {
                                        ?>
                                        <span class="has-an-explanation">Sin información</span><br />
                                        <?php
                                        }
                                        ?>
                                        </div>
                                    <?php }?>
                                </div><!--ends accordionContent-->
                            </div><!--ends category-->
                            <?php } ?>
                      </div>  <!-- ends accordion-->
                </section><!--ends posiciones-->
        </section><!--ends trayectoriaYPosiciones-->
</article>
</div>
</div>
{% endblock content %}