{% extends 'elections/base_edits.html' %}
{% load i18n %}

{% block content %}
<h2>
    {% url election_detail slug=election.slug username=election.owner as election_url%}
    {% blocktrans with election_name=election.name %}
        Categorías en <a href="{{ election_url }}">Elección {{ election_name }}</a>
    {% endblocktrans %}</h2>
<ul id="lista_categorias">
{% for category in election.category_set.all %}
    <li>{{ category.name }} <a href="{% url question_create category_pk=category.pk %}">{% trans '(Agregar Pregunta)' %}</a>
    <ul>
        {% for question in category.question_set.all %}
            <li>{{ question.question }}
                <a href="{% url answer_create question_pk=question.pk %}">
                    {% trans '(Agregar Respuesta)' %}
                </a>
            <ul>
            {% for answer in question.answer_set.all %}
                <li>{{ answer.caption }}</li>
            {% endfor %}
            </ul>
            </li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>


<h2>{% trans 'Agregar categoria' %}</h2>
<form method="POST">{% csrf_token %}
    <table>
    {{form.as_table}}
    </table>
    <input type="submit" value="{% trans "Guardar" %}" />
</form>
<div id="link_next">
</div>

<!-- <a href="{% url election_detail slug=election.slug username=election.owner %}">finalizar</a> -->
{% endblock %}

{% block extra_js %}
{{ form.media }}
<script type="text/javascript">
    $(function(){
        if($("#lista_categorias li").size() > 0){
            $("#link_next").append('<a href="{% url election_detail slug=election.slug username=election.owner %}">{% trans 'Finalizar' %}</a>');
        }
    })
    $("#id_name").slug({
        'target': $('#id_slug')
    });
</script>
{% endblock %}