{% extends 'elections/base_edits.html' %}
{% load i18n %}

{% block content %}

<div class="fondo_formulario">

    <div class="numero_off uno">{% trans '1.' %}</div>
    <div class="numero_off dos">
        <a href="{% url "candidate_create" election_slug=election.slug %}">{% trans '2.' %}</a>
    </div>
    <div class="numero_off tres">
        <a href="{% url "personal_data_create" election_slug=election.slug %}">{% trans '3.' %}</a>
    </div>
    <div class="numero_off cuatro">
        <a href="{% url "background_category_create" election_slug=election.slug %}">{% trans '4.' %}</a>
    </div>
    <div class="numero_on cinco">{% trans '5.' %}</div>

    <h2>
        {% trans 'Cuestionario' %}
    </h2>

<ul id="lista_preguntas">
{% for question in election.question_set.all %}
    <li>{{ question.question }} </li>
{% endfor %}
</ul>


<select id="lista_categorias">
    {% for category in election.category_set.all %}
        <option value="{{ category.pk }}">{{ category.name }} </option>
    {% endfor %}
    <option value="other">{% trans 'Agregar nueva categoría' %}</option>
</select>


<h2>{% trans 'Agregar categoria' %}</h2>
<form method="POST">{% csrf_token %}
    <table>
    {{form.as_table}}
    </table>
    <input type="submit" value="{% trans "Guardar" %}" />
</form>
<div id="link_next">
</div>

<!-- <a href="{% url "election_detail" slug=election.slug username=election.owner %}">finalizar</a> -->
{% endblock %}

{% block extra_js %}
{{ form.media }}
<script type="text/javascript">
    $(function(){
        if($("#lista_categorias li").size() > 0){
            $("#link_next").append('<a href="{% url "election_detail_admin" slug=election.slug username=election.owner %}">{% trans 'Finalizar' %}</a>');
        }
    })
    $("#id_name").slug({
        'target': $('#id_slug')
    });
</script>
{% endblock %}