{% extends 'elections/base_edits.html' %}
{% load i18n %}

{% block title %}
{% trans 'Plantilla de la elección' %}
{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plantillas.css">
{% endblock extra_head %}

{% block content %}

<div class="contenedor_body">

<!-- MENU VERTICAL -->
      {% include 'elections/election_admin_menu.html' %}  
<!-- CIERRE MENU VERTICAL -->     
 
<!-- CONTENIDO -->    
    <div class="papel_edit">
    <div class="wrapper_plantillas">
    	<head>
        <h1>3.PREGUNTAS:<span class="celeste_preguntas"> ¿QUÉ INFO MOSTRARÁS EN EL PERFIL DE CADA CANDIDATO? PERSONALIZA TU PLANTILLA!</span></h1>
		<hr />
        </head>

    <div class="edit_tit">
        <h2>a. datos personales del candidato</h2>
        <div class="ayuda">Las respuestasde cada candidato las agregarás en la siguiente sección</div>
    </div>
<div class="wrapper_preguntas">
    <ul id="lista_personaldata">
        {% for personal_data in election.personaldata_set.all %}
        <li style='margin-top: 5px;' id="personal_data_{{ personal_data.pk }}">
            <span class="bold">{{ personal_data.label }}
            <a href="javascript:void(0);" onclick="personal_data_delete({{personal_data.pk}}); return false;">
                <img style="position:absolute; margin-left:6px; margin-top: 4px;" src="{{ STATIC_URL }}img/bt_eliminar.png"/>
            </a>
            </span>
        </li>
        {% endfor %}
        <li id="add_personal_data">
            <p style='float: left;'>
            <input name="add_personal_data_input" placeholder="agregar dato personal"/>
            </p><aside><a class="bt_input" href="#" pk="{{election.pk}}">agregar</a>
        </li></aside>
    </ul>

    <br style='clear: both;'/>
</div>

    <div class="edit_tit">
        <h2>b. Antecedentes</h2>
    </div>
<div class="wrapper_preguntas">
    <ul id="lista_categorias">
        {% for background_category in election.backgroundcategory_set.all %}
        <li id="background_category_{{background_category.pk}}">
            <div class="categoriasAntecedentes"><h3>
                {{ background_category.name }}
                <a href="javascript:void(0);" onclick="background_category_delete({{background_category.pk}}); return false;">
                    <img style="margin-top:-2px; float: right;" src="{{ STATIC_URL }}img/bt_eliminar(fondo).png"/>
                </a>
            </h3>
            </div>

            <ul id="id_background_list_{{ background_category.pk }}">
                {% for background in background_category.background_set.all %}
                <li id="background_{{background.pk}}">
                    {{ background.name }} <a href="javascript:void(0);" onclick="background_delete({{background.pk}}); return false;"><img style="position:absolute; margin-top:4px; margin-left:6px;" src="{{ STATIC_URL }}img/bt_eliminar.png"/></a>
                </li>
                {% endfor %}
                <p id="add_background_{{ background_category.pk}}">
                    {% with background_form.name.html_name as html_name %}
                    <input type="text" 
                           name="{{ html_name }}" 
                           class="add_background_name"
                           id="id_{{ forloop.counter }}_{{ html_name }}" 
                           placeholder="agregar antecedente" />
                    {% endwith %}
                    <a class="bt_input" href="#" pk="{{ background_category.pk}}" >agregar
                    </a>
                </p>
            </ul>
        </li>
        {% endfor %}
        <li id="add_backgroundcategory">
            <input type="text" id="id_{{ backgroundcategory_form.name.html_name }}" 
                               name="{{ backgroundcategory_form.name.html_name }}"
                               placeholder="agregar categoría" />
            <a class="save_background_category_link" href="#" pk="{{election.pk}}">
                <img  style="margin-left:2px; margin-top:3px" src="{{ STATIC_URL }}img/bt_agregar(verde).png"/>
            </a>
        </li>
    </ul>
    <br/>
    
    <aside class='guide'>
            <div class="ejAntecedentes"> Otros antecedentes laborales podrían ser:<br />
- Prácticas profesionales<br />
- Experiencia técnica</div>
            </aside>

</div>

    <h5>Cuestionario <img style=" margin-top: 13px;" src="{{ STATIC_URL }}img/bt_agregar(grande).png"/></h5>
    <ul id="lista_preguntas">
        {% for category in election.category_set.all %}
        <li id="category_{{ category.pk }}">
            <h6>
                {{ category.name }}
                <a href="javascript:void(0);" onclick="category_delete({{category.pk}}); return false;">
                    <img style="margin-top:-1px; margin-left:6px;" src="{{ STATIC_URL }}img/bt_eliminar(verde).png"/>
                </a>
            </h6>
            <ul id="id_question_list_{{ category.pk }}">
                {% for question in category.question_set.all %}
                <li id="question_{{question.pk}}">
                    {{ question.question }}
                    <a href="javascript:void(0);" onclick="question_delete({{question.pk}}); return false;">
                        <img style="margin-top:-1px; margin-left:6px;" src="{{ STATIC_URL }}img/bt_eliminar(verde).png"/>
                    </a>
                    <div>
                    <ul class="list_of_answers">
                        {% for answer in question.answer_set.all %}
                            <li>{{ answer }}</li>
                        {% endfor %}
                        <li style="margin-top:30px;">
                            <form class="answerform" method="POST" action="{% url  answer_create_ajax question_pk=question.pk %}">
                                {% csrf_token %}
                                <input type="text" name="caption" placeholder="agregar respuesta" />
                                <input type="submit" value="{% trans 'crear' %}" />
                            </form>
                        </li>
                    </ul>
                    </div>

                </li>

                {% endfor %}
                <li id="add_question_{{ category.pk }}">
                    {% with question_form.question.html_name as html_name %}
                    <input type="text" name="html_name" id="id_{{ forloop.counter }}_{{html_name}}" placeholder="agregar pregunta" class="question_input"/>
                    {% endwith %}
                    <a class="save_question_link" href="#" pk="{{category.pk}}">
                        <img  style="margin-left:2px; margin-top:3px" src="{{ STATIC_URL }}/img/bt_agregar(verde).png"/>
                    </a>
                </li>
            </ul>
        </li>
        {% endfor %}
        <li id="add_category">
            {% with category_form.name.html_name as html_name %}
            <input type="text" name="{{ html_name }}" id="id_{{html_name}}" placeholder="agregar categoría" />
            {% endwith %}
            <a class="save_category_link" href="#" pk="{{election.pk}}">
                <img  style="margin-left:2px; margin-top:3px" src="{{ STATIC_URL }}/img/bt_agregar(verde).png"/>
            </a>
        </li>
    </ul>

        {% csrf_token %}
    </div>
</div>
</div>

{% endblock content %}

{% block extra_js %}
{{ form.media }}
<script type="text/javascript">

function personal_data_delete(personal_data_pk){
    var answer = confirm("¿Estas seguro que quieres eliminar este dato personal?");
    if(answer){
        var dir = "/"+personal_data_pk +"/personal_data/async_delete/";
        $.post(dir, {'csrfmiddlewaretoken': '{{ csrf_token }}' },
            function(json){
                $("#personal_data_"+personal_data_pk).remove();
            })
    }
    else {
        return false;
    }
}

function background_category_delete(category_pk){
    var answer = confirm("¿Estas seguro que quieres eliminar esta categoría?");
    if(answer){
        var dir = "/"+category_pk +"/background_category/async_delete/";
        $.post(dir, {'csrfmiddlewaretoken': '{{ csrf_token }}' },
            function(json){
                $("li#background_category_"+category_pk).remove();
             })
    }
    else {
        return false;
    }
}

function background_delete(background_pk){
    var answer = confirm("¿Estas seguro que quieres eliminar este antecedente?");
    if(answer){
        var dir = "/"+background_pk +"/background/async_delete/";
        $.post(dir, {'csrfmiddlewaretoken': '{{ csrf_token }}' },
            function(json){
                $("li#background_"+background_pk).remove();
            })
    }
    else {
        return false;
    }
}

function category_delete(category_pk){
    var answer = confirm("¿Estas seguro que quieres eliminar esta categoría?");
    if(answer){
        var dir = "/"+category_pk +"/category/async_delete/";
        $.post(dir, {'csrfmiddlewaretoken': '{{ csrf_token }}' },
            function(json){
                $("#category_"+category_pk).remove();

                // if($("#id_category option:selected").attr('value') == ""){
                //     $('#id_new_category').parent().show();
                // }

                // if($("[id ^= category_]").size() == 0)
                //     $("#link_next").remove();
            })
    }
    else {
        return false;
    }
}

function question_delete(question_pk){
    var answer = confirm("¿Estas seguro que quieres eliminar esta pregunta?");
    if(answer){
        var dir = "/"+question_pk +"/question/async_delete/";
        $.post(dir, {'csrfmiddlewaretoken': '{{ csrf_token }}' },
            function(json){
                $("#question_"+question_pk).remove();

                // var remove_link = false
                // $("ul.categories_questions").each(function(index){
                //     if($(this).children().size() == 0){
                //         remove_link = true
                //         return false
                //     }
                // });
                // if(remove_link){
                //     $("#link_next").remove();
                // }

            })
    }
    else {
        return false;
    }
}

$(document).ready(function() {

    var default_texts = [["li[id^=add_background_] input#id_name"   , "agregar antecedente"],
                         ["li[id^=add_question_] input#id_question" , "agregar pregunta"],
                         ["#add_category input"                     , "agregar categoría"],
                         ["li#add_backgroundcategory input"         , "agregar categoría"]];
                         /*
    for (var i = 0; i < default_texts.length; i++) {
        $(default_texts[i][0]).val(default_texts[i][1])

        $(default_texts[i][0]).focus(function(e){
            if ($(this).val() == default_texts[i][1]){
                $(this).val("")
            }
        });

        $(default_texts[i][0]).blur(function(e){
            if ($(this).val() == ""){
                $(this).val(default_texts[i][1])
            }
        });

    };*/

    $(".save_personal_data_link").click(function(e){
        var value_text = $(this).prev("p").children("input");
        var value = value_text.val();
        var election_pk = $(this).attr('pk');

        $.post('/'+ election_pk +'/personal_data/async_create/',
        {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'value': value
        },
        function(data) {

            var content = '<li style="margin-top: 5px;" id="personal_data_'+data.pk+'"><span class="tit_fondoverde">'+data.label+'<a href="javascript:void(0);" onclick="personal_data_delete('+data.pk+'); return false;"><img style="position: absolute; margin-left:6px;" src="{{ STATIC_URL }}img/bt_eliminar(verde).png"/></a></span></li>';

            var lista = $("ul#lista_personaldata")
            lista.children().last().before(content)
            value_text.val(default_texts[1][1])
        },
        'json');
        return false;
    });



    $(".save_background_link").click(save_background);

    function save_background(e){
        var value_text = $(this).prev("input");
        var value = value_text.val();
        var background_category_pk = $(this).attr('pk');

        $.post('/'+ background_category_pk +'/background/async_create/',
        {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'value': value
        },
        function(data) {

            var content = '<li id="background_'+data.pk+'">'+data.name+' <a href="javascript:void(0);" onclick="background_delete('+data.pk+'); return false;"><img style="position:absolute; margin-top:-1px; margin-left:6px;" src="{{ STATIC_URL }}img/bt_eliminar(verde).png"/></a></li>';

            var lista = $("ul#id_background_list_"+background_category_pk)
            lista.children().last().before(content)
            value_text.val('')
        },
        'json');
        return false;
    }


    $(".save_background_category_link").click(function(e){
        var value_text = $(this).prev("input");
        var value = value_text.val();
        var election_pk = $(this).attr('pk');

        $.post('/'+ election_pk +'/background_category/async_create/',
        {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'value': value
        },
        function(data) {
            var last_id = -1;
            $('.add_background_name').each(function(i, el) {
                var firstIndex = el.id.indexOf('_');
                var lastIndex = el.id.lastIndexOf('_');
                var num = parseInt(el.id.substr( firstIndex + 1, lastIndex - firstIndex - 1));
                last_id = Math.max(num, last_id)
            });
            last_id++;
            var background_input = '<input type="text" name="{{ background_form.name.html_name }}" id="id_' + last_id + '_{{ background_form.name.html_name }}" placeholder="agregar antecedente" class="add_background_name" />'
            var content ='<li id="background_category_'+data.pk+'"><h6>'+data.name+'<a href="javascript:void(0);" onclick="background_category_delete('+data.pk+'); return false;"><img style="margin-top:-1px; margin-left:6px;" src="{{ STATIC_URL }}img/bt_eliminar(verde).png"/></a></h6><ul id="id_background_list_'+data.pk+'"><li id="add_background_'+data.pk+'">' + background_input  + '<a class="save_background_link" href="#" pk="'+data.pk+'" ><img  style="margin-left:2px; margin-top:3px" src="{{ STATIC_URL }}img/bt_agregar(verde).png"/></a></li></ul></li>';

            var lista = $("ul#lista_categorias")
            lista.children().last().before(content)
            value_text.val('')
            $(".save_background_link[pk=\""+data.pk+"\"]").click(save_background);
            //$("li#add_background_"+data.pk+" input#id_name").val('')
        },
        'json');
        return false;
    });

    $(".save_question_link").click(save_question);

    function save_question(e){
        console.log('agregando pregunta');
        var value_text = $(this).prev("input");
        var value = value_text.val();
        var category_pk = $(this).attr('pk');

        $.post('/'+ category_pk +'/question/async_create/',
        {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'value': value
        },
        function(data) {
            var content = '<li id="question_'+data.pk+'">'+data.question+'<a href="javascript:void(0);" onclick="question_delete('+data.pk+'); return false;"><img style="margin-top:-1px; margin-left:6px;" src="{{ STATIC_URL }}img/bt_eliminar(verde).png"/></a><div><ul class="list_of_answers">';
            content += "<li style='margin-top:30px;'><form class='answerform' method='POST' action='/answer_create/"+data.pk+".json'>{% csrf_token %}<input type='text' name='caption' placeholder='agregar respuesta' /><input type='submit' value='{% trans 'crear' %}' /></form></li>";
            content += '</ul></div></li>';



            var lista = $("ul#id_question_list_"+category_pk)
            lista.children().last().before(content)
            value_text.val('');
        },
        'json');
        return false;
    }

    $(".save_category_link").click(function(e){
        var value_text = $(this).prev("input");
        var value = value_text.val();
        var election_pk = $(this).attr('pk');

        $.post('/'+ election_pk +'/category/async_create/',
        {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'value': value
        },
        function(data) {
            var last_id = -1;
            $('.question_input').each(function(i, el) {
                var firstIndex = el.id.indexOf('_');
                var lastIndex = el.id.lastIndexOf('_');
                var num = parseInt(el.id.substr( firstIndex + 1, lastIndex - firstIndex - 1));
                last_id = Math.max(num, last_id)
            });
            last_id++;
            var question_input = '<input type="text" name="{{ question_form.name.html_name }}" id="id_' + last_id + '_{{ background_form.name.html_name }}" placeholder="agregar pregunta" class="question_input"/>';

            var content = '<li id="category_'+data.pk+'">' +
                    '<h6>'+data.name+'' +
                    '<a href="javascript:void(0);" onclick="category_delete('+data.pk+'); return false;">' +
                    '<img style="margin-top:-1px; margin-left:6px;" src="{{ STATIC_URL }}img/bt_eliminar(verde).png"/></a></h6><ul id="id_question_list_'+data.pk+'"><li id="add_question_'+data.pk+'">' + question_input + '<a class="save_question_link" href="#" pk="'+data.pk+'"><img  style="margin-left:2px; margin-top:3px" src="{{ STATIC_URL }}/img/bt_agregar(verde).png"/></a></li></ul></li>';

            var lista = $("ul#lista_preguntas")
            lista.children().last().before(content)
            value_text.val('');
            $(".save_question_link[pk=\""+data.pk+"\"]").click(save_question);
            //$("li#add_question_"+data.pk+" input#id_question").val(default_texts[1][1])
        },
        'json');
        return false;
    });


});
$('.answerform').live('submit', function (e) {
    e.preventDefault()
    var form = $(this);
    $.post($(this).attr('action'), $(this).serialize(), function (json) {
        var containing_li = $(form).parent('li');
        console.log(json);
        console.log($(form).parent('li'));
        var html = '<li>'+json.caption+'</li>';
        $(html).insertBefore(containing_li);
    });
});


</script>
{% endblock extra_js %}
