{% extends "elections/base.html" %}
{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/compare.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dropDownList.css">
{% endblock extra_head %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/dropDownLists.js"></script>

    <script type="text/javascript">
    function get_checked_radio_button_value(){
        var radio_buttons = document.getElementsByName("category")
        for(i=0;i<radio_buttons.length;i++){
	   if(radio_buttons[i].checked) return radio_buttons[i].value
	}
    }

    function get_base_url(){
	var actual_direction  = location.href
	var reference_pattern = "/{{election.owner.username}}/{{election.slug}}/compare"
	var position_pattern  = actual_direction.indexOf(reference_pattern)
	var pre_direction     = actual_direction.substring(0,position_pattern)
        var final_direction   = pre_direction + reference_pattern
        return final_direction
    }

    function get_comparation_data_in_select(current_select){

    	var first_select  = document.getElementById("firstCandidate")
        var second_select = document.getElementById("secondCandidate")
        var radio_buttons = document.getElementsByName("category")

	if(current_select.name == "firstCandidate"){
		if(second_select.value == "0") alert('Llamo a Ajax por: '+first_select.value)
		else if(second_select.value == first_select.value) alert('Error')
                else{
                   var final_direction = get_base_url() +"/"+first_select.value + "_vs_" + second_select.value + "_in_" + get_checked_radio_button_value()
                   window.location     = final_direction
		}   
	}
	else{
		if(first_select.value == "0") alert('Llamo a Ajax por: '+second_select.value)
		else if(second_select.value == first_select.value) alert('Error')
                else{
                   var final_direction = get_base_url() +"/"+first_select.value + "_vs_" + second_select.value + "_in_" + get_checked_radio_button_value()
                   window.location     = final_direction
		}
	}
    }

    function get_comparation_data_in_radio_button(current_radio_button){
	var first_select  = document.getElementById("firstCandidate")
        var second_select = document.getElementById("secondCandidate")
        if(first_select.value != "0" && second_select.value != "0" && first_select.value != second_select.value){
            var final_direction = get_base_url() +"/"+first_select.value + "_vs_" + second_select.value + "_in_" + current_radio_button.value
            window.location     = final_direction
	}
    }
    </script>
{% endblock extra_js %}

{% block title %}
{{ block.super }} | {{ election.name }} - {% trans "Comparar candidatos" %}
{% endblock title %}

{% block content %}

    <div class="wrapper">
        <article class="wrapW">
            <ul id="errors"></ul>
            <div class="leftContent">
                <header class="comparisonBox">

                    <div class="candidatesLists">

                        <div class="firstCandidate">
                            <select name="firstCandidate" id="firstCandidate" onchange="get_comparation_data_in_select(this)">
                                <option name="options1" value="0" data-skip="1">{% trans "Selecciona un candidato" %}</option>
                                {% for candidate in election.candidate_set.all %}
                                <option name="options1" data-html-text="{{ candidate.name }}" data-icon="http://votainteligente.com.ar/img/candidate/imagepath/alfonsin0.jpg" value="{{ candidate.slug }}" {% if first_candidate and first_candidate == candidate %} selected="selected" {% endif %}>{{ candidate.name }}</option>
                                {% endfor %}
                            </select>

                        <div class="basicProfileContainer">

			    {% if first_candidate %}
                            <img class="candidateComparedImage" src="{{ first_candidate.photo.url }}"/>
			    {% else %}
                            <img class="candidateComparedImage" src="{{ STATIC_URL }}img/default-user.gif"/>
			    {% endif %}

                            <ul class="candidateBasicProfileInfo">
                                <li>
                                    <span class="candidateBasicComparisonQuestion">Nacimiento:</span>
                                    <span class="candidateBasicComparisonAnswer"></span>
                                </li>
                                <li>
                                    <span class="candidateBasicComparisonQuestion">Profesión:</span>
                                    <span class="candidateBasicComparisonAnswer"></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="secondCandidate">

                        <select name="secondCandidate" id="secondCandidate" onchange="get_comparation_data_in_select(this)">

                            <option name="options2" value="0" data-skip="1">{% trans "Selecciona un candidato" %}</option>
                            {% for candidate in election.candidate_set.all %}
                            <option name="options2" data-html-text="{{ candidate.name }}" data-icon="http://votainteligente.com.ar/img/candidate/imagepath/alfonsin0.jpg" value="{{ candidate.slug }}" {% if second_candidate and second_candidate == candidate %} selected="selected" {% endif %}>{{ candidate.name }}</option>
                            {% endfor %}

                        </select>

                        <div class="basicProfileContainer">

			    {% if second_candidate %}
                            <img class="candidateComparedImage" src="{{ second_candidate.photo.url }}"/>
			    {% else %}
                            <img class="candidateComparedImage" src="{{ STATIC_URL }}img/default-user.gif"/>
			    {% endif %}

                            <ul class="candidateBasicProfileInfo">
                                <li>
                                    <span class="candidateBasicComparisonQuestion">Nacimiento:</span>
                                    <span class="candidateBasicComparisonAnswer"></span>
                                </li>
                                <li>
                                    <span class="candidateBasicComparisonQuestion">Profesión:</span>
                                    <span class="candidateBasicComparisonAnswer"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /candidatesLists-->
            </header>
            <section id ="result" class="comparisonResult" >
                <div class="instruction">{% trans "Selecciona los dos candidatos y la categoría" %}</div>
            </section>
        </div>
        <aside class="categories">
            <h3 class="categoriesTitle">{% trans "Temas" %}</h3>
            <ul class="categoriesList">
                {% for category in election.category_set.all %}
                <li>
                    <input type="radio" name="category"
		    {% if selected_category %}
                        {% if selected_category == category %}checked="checked"{% endif %} 
                    {% else %}
                        {% if forloop.first %}checked="checked"{% endif %} 
                    {% endif %}
                    value="{{category.slug}}" onchange="get_comparation_data_in_radio_button(this)" />
                    <label for="category-{{ category.slug }}">{{ category.name }}</label>
                </li>
                {% endfor %}
            </ul>
        </aside>
   </article>
</div>
{% endblock content %}
