{% extends "elections/base.html" %}

{% block title %}
{{ block.super }} Election
{% endblock title %}

{% block content %}
<img src="{{ MEDIA_URL }}{{ election.logo }}"><br/>
Eleccion: <a href="{% url election_detail username=election.owner slug=election.slug %}">{{ election.name }}</a>
<br>
<a href="{% url medianaranja1 my_user=election.owner.username election_slug=election.slug %}">Media Naranja</a>
<br>
Candidatos (<a href="{% url candidate_create slug=election.slug %}">Agregar Candidatos</a>):
<ul>
{% for candidate in election.candidate_set.all %}
    <li>
    <a href="{% url candidate_detail username=election.owner.username election_slug=election.slug slug=candidate.slug%}">{{ candidate.name }}</a>
    </li>
{% endfor %}
</ul>


<br>
Categorias (<a href="{% url category_create election_slug=election.slug %}">Agregar Categoria</a>):
<ul>
{% for category in election.category_set.all %}
    <li>
    {{ category.name }}
    <ul>
        {% for question in category.question_set.all %}
            <li>
            {{ question.question}}
            <ul>
                {% for answer in question.answer_set.all %}
                    <li>{{ answer.caption }}</li>
                {% endfor %}
            </ul>
            </li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% endblock content %}
