{% extends "elections/base.html" %}
{% load i18n %}
{% load candidate_tags %}
{% load election_tags %}
{% load thumbnail %}


{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profileHome.css" />
{% endblock extra_head %}

{% block extra_js %}
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock extra_js %}

{% block title %}
 {% trans "Perfil de candidatos" %}, {{ election.name }} - {{ block.super }}{% endblock title %}

{% block content %}

<div class="papel">

	<div class="newElection"><a href="/election/pre_create"><img src="{{ STATIC_URL }}/img/bt_nuevaeleccion.png" ></a></div>

<div class="contenedor3">


            {% if election.logo %}
        <div class="logo_eleccion"><center><img src="{{ election.logo.url }}"/></center></div>
        {% else %}
        
        {% endif %}
        
    <div class="nombre_eleccion tit"><h1><a href="{% url election_detail username=election.owner.username slug=election.slug %}">{{election.name }}<span> - Creada por {{election.owner}}</span></a>
{% link_to_updating_this_election request.user election %}
    </h1>
    </div>
</div>

<div class="contenedor1">
    <div class="contenedor2">

                <div class="ico_tit"><img src="{{ STATIC_URL }}/img/ico_profiles.png" width="97" height="56" /></div>
    <div class="tit"><h3>{% trans 'PERFIL DE CANDIDATOS' %}</h3></div>

        <!--        ProfileHome   -->
        <ul class="profileHome">
            {% if election.candidate_set.all %}

            {% for candidate in election.candidate_set.all %}
            <li>
                <a href="{% url candidate_detail username=election.owner.username election_slug=election.slug slug=candidate.slug %}" class="link">
                    <div style="width: 115px; height: 144px; background-color: white; margin-top: 13px;">
                    {% thumbnail candidate.photo "115x144" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}" style="margin: {{ im|margin:"115x144" }};">
                    {% empty %}
                        {% if candidate.photo %}
                        <img src="{{ candidate.photo.url }}" alt="" width="115" height="144">
                        {% else %}
                        <img src="{{ STATIC_URL }}img/default-user.gif" alt="" width="115" height="144">
                        {% endif %}
                    {% endthumbnail %}
                    </div>
                    <span>{{ candidate.name }}</span>
                </a>
            </li>
            {% endfor %}{# election.candidate_set.all #}

            {% else %}
            <br>
            <center><h4>{% trans 'Esta elección no cuenta aún con Candidatos.' %}</h4></center>
            <br>
            {% endif %}
        </ul>

    </div>
</div>


<div class="contenedor1">
    <div class="contenedor2">


   <div id="fb-root">
   <center>
   <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-num-posts="2" data-width="823"></div>
   </center>
   </div>


    </div>
</div>

</div>

{% endblock content %}
