{% extends "elections/base.html" %}

{% block title %}
{{ block.super }} Election
{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/media_naranja.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.rating.css">
{% endblock extra_head %}

{% block extra_js %}
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock extra_js %}

{% block content %}

<div class="papel">


    <div class="contenedor1">
    <div class="contenedor2">

            {% if election.logo %}
        <div class="logo_eleccion"><center><img src="{{ election.logo.url }}"/></center></div>
        {% else %}
        
        {% endif %}
        
        <div class="nombre_eleccion tit"><a href="{% url election_detail username=election.owner.username slug=election.slug %}"><h1>{{ election.name }}</h1></a></div>
        
        {% if election.date %}
        <span class="fecha_eleccion">Fecha de la elección: {{ election.date }}</span>
        {% endif %}
        
        {% if election.description %}
        <p>{{ election.description }}</span>
        {% endif %}

<br>
    <h3>Creada por: {{election.owner}}</h3>
    <br>

    </div>
    </div>

</div>

{% endblock content %}
