{% extends 'elections/base_edits.html' %}
{% load i18n %}

{% block content %}

{% include 'elections/election_admin_menu.html' %}

<div class="papel_edit">
    <div class="contenedor_edit">


        <div class="edit_tit"><h5>INFORMACIÓN GENERAL DE LA ELECCIÓN</h5></div>


        <br/>

        <form id="newelection" method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ form.non_field_errors }}
            <p class="fieldWrapper">
                <label for="id_name" class="blue_edit">{{ form.name.label }}</label>
                {{ form.name }}
                {{ form.name.errors }}
            </p>

            <p class="fieldWrapper">
                <label for="id_date" class="lightblue_edit">{{ form.date.label }}</label>
                {{ form.date }}
                {{ form.date.errors }}
            </p>

            <p class="fieldWrapper">
                <p style="display:none">{{ form.slug }}
                {{ form.slug.errors }}</p>
            </p>

            <p class="fieldWrapper">
                <label for="id_description" class="lightblue_edit">{{ form.description.label }}</label><br />
                {{ form.description }}
                {{ form.description.errors }}
            </p>

            <p class="fieldWrapper">
                <label for="id_logo" class="lightblue_edit">IMAGEN</label><br />
                {{ form.logo }}
                {{ form.logo.errors }}
            </p>

            <p class="fieldWrapper">
                <label for="id_source" class="blue_edit">¿DE DONDE SACASTE LA INFORMACIÓN?</label>
            </p>



            <a class="save" href="javascript: void(0);" onclick="document.forms['newelection'].submit();return false;">
               </a>

        </form>

    </div>
</div>



{% endblock %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}