 {% load thumbnail %}
 <ul class="profileHome short-list">
 {% for candidate in candidates %}

            <li class="{% if candidate.has_answered %}answered{% else %}not_answered{% endif %}">
                <a href="{% url "candidate_detail_embeded" username=election.owner.username election_slug=election.slug slug=candidate.slug %}" class="link">
                    
                    {% thumbnail candidate.photo "115x144" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}" style="margin: {{ im|margin:"115x144" }};">
                    {% empty %}
                        {% if candidate.photo %}
                        <img src="{{ candidate.photo.url }}" alt="" width="115" height="144">
                        {% else %}
                        <img src="{{ STATIC_URL }}img/default-user.gif" alt="" width="115" height="144">
                        {% endif %}
                    {% endthumbnail %}
                   
                    <span>{{ candidate.name }}</span>
                </a>
            </li>
            {% endfor %}{# election.candidate_set.all #}
        </ul>