{% extends 'elections/base_edits.html' %}
{% load i18n %}

{% block content %}

<div class="fondo_formulario">
    <div class="numero_off uno">1.</div>
    <div class="numero_off dos">
        <a href="{% url candidate_create election_slug=election.slug %}">2.</a>
    </div>
    <div class="numero_on tres">3.</div>
    <div class="numero_off cuatro">4.</div>
    <div class="numero_off cinco">5.</div>

    <h2>Datos Personales:</h2>
    <div class="informacion"><img style="position: relative; margin-left: 27px; margin-top: -12px;" src="{{ STATIC_URL }}img/information.png"/></div>
    
    <ul id="lista_datos">
        {% for personal_data in election.personaldata_set.all %}
        <li id="personal_data_{{personal_data.pk}}">
            <span class="tit_fondoverde">
               {{ personal_data.label }} <a href="javascript:void(0);" onclick="personal_data_delete({{personal_data.pk}}); return false;"><img style="position:absolute; margin-top:-1px; margin-left:6px;" src="{{ STATIC_URL }}img/bt_eliminar(verde).png"/></a>
            </span>
        </li>
        {% endfor %}
    </ul>
    <br/>
    <form name="personaldata" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}
        <!-- <a class="bt_siguiente" href="javascript:void(0);" onclick="document.forms['newelection'].submit();return false;"> -->
        {% if election.personaldata_set.count %}
        <div id="link_next">
            <a class="bt_siguiente" href="{% url background_category_create election_slug=election.slug %}">
                <img src="{{ STATIC_URL }}img/bt_siguiente.png"/>
            </a>
        </div>
        {% endif %}
        <div id="link_add">
            <a class="bt_siguiente" href="javascript:void(0);" onclick="document.forms['personaldata'].submit();return false;">
                <img  style="position:absolute; margin-left:15px;" src="{{ STATIC_URL }}/img/bt_agregar(grande).png"/>
            </a>
        </div>
    </form>
</div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">

        function get_base_url(){
            var actual_direction  = location.href
            var reference_pattern = "/personal_data/create"
            var position_pattern  = actual_direction.indexOf(reference_pattern)
            var pre_direction     = actual_direction.substring(0,position_pattern)
            var final_direction   = pre_direction + "/personal_data/async_delete/"
            return final_direction
        }
        function personal_data_delete(personal_data_pk){
            var answer = confirm("¿Estas seguro que quieres eliminar este dato porsonal?");
            if(answer){
                var dir = get_base_url() + personal_data_pk +"/"+{{ election.pk }};
                $.post(dir, {'csrfmiddlewaretoken': '{{ csrf_token }}', }, 
                    function(json){
                        $("#personal_data_"+personal_data_pk).remove();
                        if($("[id ^= personal_data_]").size() == 0)
                            $("#link_next").remove();
                    })
            }
            else {
                return false;
            }
        }
    </script>
{{ form.media }}
{% endblock %}