{% extends 'elections/base_edits.html' %}
{% load i18n %}
{% block content %}

<div class="fondo_formulario">
    <div class="numero_off uno">1.</div>
    <div class="numero_off dos">
        <a href="{% url candidate_create election_slug=election.slug %}">2.</a>
    </div>
    <div class="numero_on tres">3.</div>
    <div class="numero_off cuatro">4.</div>
    <div class="numero_off cinco">5.</div>

    <h5>Preguntas:</h5>

<div class="forms_content">

    <div class="instrucciones">A continuación deberás crear las preguntas. Éstas deberán ser contestadas por todos los candidatos y se clasifican en tres secciones...</di>
    <img style="margin-top:13px; margin-bottom:13px;" src="{{ STATIC_URL }}/img/img_preguntas.jpg"/>  
        <div id="link_next">
            <a class="bt_siguiente" href="{% url personal_data_create election_slug=election.slug %}">
                <img style="position: relative; margin-right: -25px;" src="{{ STATIC_URL }}img/bt_siguiente.png"/>
            </a>
        </div>
</div>

{% endblock %}

{% block extra_head %}
    <link href="/static/css/wizard-forms.css" type="text/css" media="all" rel="stylesheet" />
{% endblock extra_head %}

</div>
