{% extends 'elections/base_edits.html' %}
{% load i18n %}


{% block content %}


<div class="fondo_formulario">
    <div class="numero_off uno">1.</div>
    <div class="numero_off dos">
        <a href="{% url candidate_create election_slug=election.slug %}">2.</a>
    </div>
    <div class="numero_off tres">
        <a href="{% url personal_data_create election_slug=election.slug %}">3.</a>
    </div>
    <div class="numero_off cuatro">
        <a href="{% url background_category_create election_slug=election.slug %}">4.</a>
    </div>
    <div class="numero_on cinco">5.</div>

    <h5>Cuestionario</h5>
    <div class="forms_content">
    {% for category in election.category_set.all %}
        <div id="category_{{category.pk}}">
            <span class="tit_fondoverde">
                {{ category.name }}<a href="javascript:void(0);" onclick="category_delete({{category.pk}}); return false;"><img style="position:absolute; margin-top:0px; margin-left:7px;" src="{{ STATIC_URL }}img/bt_eliminar(verde).png"/></a>
            </span>
                <ul class="categories_questions">
                    {% for question in category.question_set.all %}
                        <li id="li_id_question_{{ question.pk }}">
                            <span class="background_item">{{ question.question }}<a href="javascript:void(0);" onclick="question_delete({{question.pk}}); return false;"><img style="position:absolute; margin-top:2px; margin-left:8px;" src="{{ STATIC_URL }}img/bt_eliminar(verde).png"/></a></span>
                        </li>
                    {% endfor %}
                </ul>
        </div>
    {% endfor %}

    <hr />

    <div class="instrucciones">Agrega tus preguntas y asígnales una categoría...</div><br>
    <form id="newquestion" method="POST">{% csrf_token %}
        {{ form.non_field_errors }}
        <p class="fieldWrapper">
            <label for="id_question" class="tit_fondoverde">{{ form.question.label }}</label>
            {{ form.question }}
            {{ form.question.errors }}
        </p>
        <p class="fieldWrapper">
            <label for="id_category" class="tit_fondoverde">{{ form.category.label }}</label><br/>
            {{ form.category }}
            <span {% if election.category_set.count > 0 and form.category.data != '' %}style = "display: none"{% endif %}>
            {{ form.new_category }}
            </span>
            {{ form.category.errors }}
        </p>
        {% if election.category_set.count %}
        <div id="link_next">
            <a class="bt_siguiente" href="{% url election_detail_admin username=user.username slug=election.slug %}">
                <img src="{{ STATIC_URL }}img/bt_publicar.png"/>
            </a>
        </div>
        {% endif %}
        <div id="link_add">
            <a class="bt_siguiente" href="javascript:void(0);" onclick="document.forms['newquestion'].submit();return false;">
                <img src="{{ STATIC_URL }}/img/bt_agregar(grande).png"/>
            </a>
        </div>

    </form>
</div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready( function() {
        $('#id_category').change( function () {
            if($("#id_category option:selected").attr('value') == ""){
                $('#id_new_category').parent().show();
            }
            else{
                $('#id_new_category').parent().hide();
            }
        });
    })

function category_delete(category_pk){
    var answer = confirm("¿Estas seguro que quieres eliminar esta categoría?");
    if(answer){
        var dir = "/"+category_pk +"/category/async_delete/";
        $.post(dir, {'csrfmiddlewaretoken': '{{ csrf_token }}', },
            function(json){
                $("#category_"+category_pk).remove();
                $("#id_category option[value=\""+category_pk+"\"]").remove()

                if($("#id_category option:selected").attr('value') == ""){
                    $('#id_new_category').parent().show();
                }

                if($("[id ^= category_]").size() == 0)
                    $("#link_next").remove();
            })
    }
    else {
        return false;
    }
}

function question_delete(question_pk){
    var answer = confirm("¿Estas seguro que quieres eliminar esta pregunta?");
    if(answer){
        var dir = "/"+question_pk +"/question/async_delete/";
        $.post(dir, {'csrfmiddlewaretoken': '{{ csrf_token }}', },
            function(json){
                $("#li_id_question_"+question_pk).remove();

                var remove_link = false
                $("ul.categories_questions").each(function(index){
                    if($(this).children().size() == 0){
                        remove_link = true
                        return false
                    }
                });
                if(remove_link){
                    $("#link_next").remove();
                }

            })
    }
    else {
        return false;
    }
}

</script>
{{ form.media }}
{% endblock %}

</div>
