
body{ font-family: 'AllerRegular', Helvetica, Arial, sans-serif; font-size: 12px; color: #666666; background-color: #FFF; line-height:19px;}


/* @FONT-FACE*/

@font-face {
    font-family: 'AllerItalic';
    src: url('../fonts/aller_it-webfont.eot');
    src: url('../fonts/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_it-webfont.woff') format('woff'),
         url('../fonts/aller_it-webfont.ttf') format('truetype'),
         url('../fonts/aller_it-webfont.svg#AllerItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AllerBoldItalic';
    src: url('../fonts/aller_bdit-webfont.eot');
    src: url('../fonts/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bdit-webfont.woff') format('woff'),
         url('../fonts/aller_bdit-webfont.ttf') format('truetype'),
         url('../fonts/aller_bdit-webfont.svg#AllernormalItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AllerBold';
    src: url('../fonts/aller_bd-webfont.eot');
    src: url('../fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bd-webfont.woff') format('woff'),
         url('../fonts/aller_bd-webfont.ttf') format('truetype'),
         url('../fonts/aller_bd-webfont.svg#Allernormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AllerRegular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype'),
         url('../fonts/aller_rg-webfont.svg#AllerRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*====*/


form{
    margin:0px;
    padding:0px;
}
input[type='text']{
    padding:2px;
    border:1px inset #666;
}
input[type='password']{
    padding:2px;
    border:1px inset #666;
}

select{
    padding:0px;
    border:1px solid #99cc33;
}
a{
    color:#0141ad; /*azul de logo*/
}
a:visited{
    color:#0141ad; /*azul de logo*/
}

h1{
    font-family:'AllerBold';
    color:#ffffff;
    font-size:14px;
    background-color:#80b6e2;
    border:1px solid #72acd9;
    text-transform:uppercase;
    letter-spacing:1px;
    padding: 4px 4px 2px;
    margin:13px;
}

h2{
    font-family:'AllerBold';
    color:#ffffff;
    font-size:14px;
    background-color:#afceea;
    border:1px solid #a7c7e6;
    text-transform:uppercase;
    letter-spacing:1px;
    padding: 4px 4px 2px;
    margin:13px;
}

h3{
    font-family: 'AllerBold';
    color: white;
    font-size: 14px;
    background-color: #A1B2B8;
    border: 1px solid #94A9AF;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 4px 13px 2px;
    margin: 13px 13px 13px 70px;
}

h4{
    font-family: 'AllerBold';
    color: #757a7e;
    font-size: 12px;
    background-color: #e8e8e8;
    border: 1px solid #d7d7d7;
    text-transform: uppercase;
    letter-spacing:1px;
    padding: 4px 4px 2px;
}

img{
    border:0px solid #ffffff;
}
table{
    font-size:12px;
    padding:0px;
    margin:0px;
}

.tablaEncuesta{
    background:#ffffff;
    font-size:12px;
    border-collapse: collapse;
    width:100%;
}



.tablaEncuesta .titulo{
    font-weight:normal;
    background:#A2B3BD;
    font-size:14px;
    color:#000000;
    height:30px;
    padding:20px;
}
.tablaEncuesta .titulo1{
    font-weight:normal;
    background:#ffffff;
    font-size:16px;
    color:#000000;
    height:30px;
    padding-left:10px;
    border: 1px #ffffff solid;
}
.tablaEncuesta .titulo2{
    font-family: AllerBold;
    font-size: 12px;
    font-weight: lighter !important;
    text-transform: uppercase;
    background:#EDEFF0;
}


.titulo1 .tablaEncuesta{
    padding-top: 20px;
}

.tablaEncuesta .titulo2 td{
    padding: 5px 15px;

}

.tablaEncuesta .titulo2 td.titulo1{
    padding: 0;
    width:10px;

}


.tablaResultados{
    background:none repeat scroll 0 0 #EDEFF0;
    font-size:12px;
    border-collapse: collapse;
    width:758px;
    float: left;
    clear: both;
}
.tablaResultados .titulo{
    font-weight:normal;
    background:#A2B3BD;
    font-size:14px;
    color:#000000;
    height:30px;
    padding-left:10px;
}
.tablaResultados .titulo2{
    background:#ffffff;
    font-weight:normal;
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    padding-left:10px;
    height:30px;
    border-top: 1px #A2B3BD solid;
    border-bottom: 1px #A2B3BD solid;
}
.bodyOfMediaNaranja{
    height:100%;
    width: 760px;
}
.not-answered-yet{
    background-color: red;
}

.tablaEncuesta input {
    clear: left;
    float: left;
    margin: 5px 9px 10px;
}

.tablaEncuesta label {
    display: block;
}


.contenedor1{
	width: 850px;
	border: 1px solid #D7D7D7;
	position: relative;
	left: 50%;
	margin-left: -426px;
	overflow: hidden;
	margin-top: 25px;
}

.col_left{
    width:405px;
    float:left;
    margin-left:13px;
    line-height:25px;
}

.col_right{
    width:405px;
    float:right;
    margin-right:13px;
    line-height:25px;
}

.ico_tit{
    margin-bottom: -58px;
    margin-left:11px;
}

.txt_intro{
    margin: 20px 13px;
}

.papel{
	background: none repeat scroll 0 0 white;
    box-shadow: 0 1px 8px 1px #666666;
    left: 50%;
    margin-left: -450px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    width: 900px;
}

.contenedor_globo{
    padding: 13px 108px 16px 13px;
}

.globo_left{
     font-family: 'AllerItalic';
     color:#ffffff;
     background-color:#74a7d9;
     float:left;
     padding: 0px 5px 0px 5px;
}

.globo_left:before {
    content:url(../img/flecha_globo.png);
    margin-top: 13px;
    position:absolute;
}

.globo_right{
     font-family: 'AllerItalic';
     color:#ffffff;
     background-color:#74a7d9;
     float:right;
     padding: 0px 5px 0px 5px;
}

.globo_right:before {
    content:url(../img/flecha_globo.png);
    margin-top: 13px;
    position:absolute;
}

.submit {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.informacion{
}