@media screen and (max-width: 980px) {

	#pagewrap {
		width: 95%;
	}

	#content {
		width: 100%;
	}

		.homeListMedianaranja h5, .homeListPerfiles h5, .homeListComparar  h5 {
		font-size: 1.5em;
		margin-top: 70%;
		margin-bottom: 5%;
	}

	.homeLi {
		margin-right: 5%;
		width: 26%;
		height: 100%;
		padding: 1em;
		margin-right: 2.8%;
	}

	h5 {
		margin: 0;
	}

	.homeListPerfiles h5, .homeListComparar  h5 {
		margin-left: 0;
		text-indent: 0;
	}

	.homeListMedianaranja, .homeListPerfiles, .homeListComparar {
		background-size: 80%;
	}

	.candidatesBasicInformation .tit h3 {
		width: 95%;
	}

	.dropDown li span {
		margin-left: 25%;
		line-height: 12px;
		display: block;
		bottom: 100%;
		font-size: 1em;
	}

	/* COMPARA */

	.firstCandidate ul.candidateBasicProfileInfo, .secondCandidate ul.candidateBasicProfileInfo {
		width: 45%;
	}

	.questionInComparison {
		width: 99%;
		padding: 0px 1px;
	}

	.answerSpace ul {
		width: 47%;
	}

}

@media screen and (max-width: 650px) {

	#header {
		height: auto;
	}

	#main-nav {
		position: static;
	}

	#content {
		width: auto;
		float: none;
		margin: 10px 0;
	}

	.homeListMedianaranja h5, .homeListPerfiles h5, .homeListComparar  h5 {
		font-size: 1.8em;
		margin-top: 60%;
		margin-bottom: 10%;
	}

	.homeLi {
		width: 26%;
		height: 100%;
		padding: 1em;
		margin-right: 2.8%;
	}

	h5 {
		margin: 0;
	}

	.homeListPerfiles h5, .homeListComparar  h5 {
	margin-left: 0;
	text-indent: 0;
	}

	.homeListMedianaranja, .homeListPerfiles, .homeListComparar {
	background-size: 60%;
	}

	.leftContent {
		width: 65%;
	}

	.firstCandidate, .secondCandidate {
		width: 45%;
	}

	tzSelect .selectBox {
		font-size: 12px;
		width: 75%;
	}

	.categories {
	width: 30%;
	}

	.tzSelect .selectBox {
		font-size: 12px;
		width: 67%;
		padding-right: 25px;
	}

	.dropDown {
		box-shadow: 0 2px 4px #999;
		padding: 8px;
		width: 75%;
		font-size: 10px;
	}

	.dropDown li span {
        margin-left: 33%;
        top: -80%;
        line-height: 10px;
    }

    .personalInfo {
		width: 63%;
	}

}

@media screen and (max-width: 480px) {

	html {
		-webkit-text-size-adjust: none;
	}

	#mainNavigation {
		font-size: 10px;
		letter-spacing: 0;
	}

	.sideButton {
		width: 80px;
	}

	.sideButton_txt {
		margin-left: -6px;
	}

	.sideButton_txt img {
		display: none;
	}

	.profileAside {
		width: 88px;
	}

	#main-nav a {
		font-size: 90%;
		padding: 10px 8px;
	}

	.homeListMedianaranja, .homeListPerfiles, .homeListComparar {
		background-image: none;
	}

	.homeListMedianaranja h5, .homeListPerfiles h5, .homeListComparar  h5 {
		font-size: 1em;
		margin-top: 30%;
	}

	.homeLi {
		width: 30%;
		margin-right: 2%;
		padding: 2% 0 7% 0;
	}

	h5 {
		margin: 0;
	}

	.col_left h4, .col_right h4 {
		font-family: 'AllerRegular';
		color: #666;
		text-transform: none;
		letter-spacing: 0;
	}

	.homeListPerfiles h5, .homeListComparar  h5 {
		margin-left: 0;
		text-indent: 0;
	}

	.logo_eleccion img{
	    height: 100%;
	    overflow: hidden;
	    max-width: none;
	}

	.globo_left, .globo_right {
		display: none;
	}

	.candidatesLists select {
		font-size: 0.5em;
	}

	.firstCandidate {
        float: left;
    }

	.firstCandidate ul.candidateBasicProfileInfo, .secondCandidate ul.candidateBasicProfileInfo {
		padding: 5px 0;
		width: 100%;
	}

	.firstCandidate img.candidateComparedImage, .secondCandidate ul.candidateBasicProfileInfo {
		float: left;
	}

	.categories {
		width: 100%;
	}

	div.star-rating {
	width: 18%;
	}

	.leftContent {
        width: 100%;
    }

	.tzSelect .selectBox {
		font-size: 12px;
		line-height: 12px;
		padding: 2px 25px 0 5px;
		width: 65%;
	}

	.tzSelect {
		min-width: 0px;
	}
}




img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.video embed,
.video object,
.video iframe {
	width: 100%;
	height: auto;
}