.has-an-explanation {
    word-wrap: break-word;
    display:inline-block;
}
.category {
}

.sentence {
    font-style: italic;
}
.media-name {

}
.media-link {

}
h3 {
    word-wrap: break-word;
}


/*-----------candidatesBasicInformation---------*/

.candidatesBasicInformation {
    position: relative;
    line-height: 21px;
     margin-bottom: 30px;
}

.candidatesBasicInformation header{
    left: 180px;
    position: absolute;
    top: 10px;
    width: 622px;
}

header h2{
    background: none repeat scroll 0 0 #A2B2BD;
    border: 1px solid #99AAB1;
    color: white;
    display: block;
    font-size: 17px;
    padding: 4px 9px;
}

.profileImg{
    float: left;
    height: 200px;
    overflow: hidden;
    width: 160px;
}
.personalInfo {
    float: left;
    font-size: 13px;
    margin-left: 18px;
    width: 330px;
    margin-top: 35px;
}

span.profile-description{
    font-family: 'AllerBold';

}
.enlacesPersonales{
    float: right;
    font-family: 'AllerItalic';
    font-size: 12px;
    letter-spacing: 0;
    margin-top: 35px;
    padding-right: 10px;
    text-align: right;
    width: 266px;
}

.enlacesPersonales a{
    background: url("../img/ic_arrow_right.png") no-repeat scroll 3px -3px transparent;
    color: #99AAB1;
    padding-left: 26px;
}
.ulEnlacesPersonales{}

.enlacesPersonales .twitter a{
    background: url("../img/ic_tweet.png") no-repeat scroll 1px -3px transparent;
}

.enlacesPersonales .facebook a{
    background: url("../img/ic_fb.png") no-repeat scroll 6px -3px transparent;
}

.twitter{}
.facebook{}


/*==== aside buttons ====*/

.profileAside{
    border-left: 1px dotted #99AAB1;
    display: block;
    float: right;
    height: 200px;
    padding: 0 0 0 10px;
    position: relative;
    width: 60px;
}

.sideButton{
    border: 1px solid #E2E3E4;
    border-radius: 10px 10px 10px 10px;
    display: block;
    font-family: 'AllerBold',Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-variant: small-caps;
    height: 50px;
    line-height: 10px;
    margin-bottom: 7px;
    padding: 5px;
    position: relative;
    text-align: center;
    text-transform: lowercase;
    vertical-align: bottom;
    width: 50px;
}
.sideButton a{
     bottom: 1px;
    cursor: pointer;
    display: block;
    height: 15px;
    left: 1px;
    padding: 35px 5px 0;
    position: absolute;
    text-align: center;
    width: 50px;
    color: #747B7E;
}

.sideButton a:hover{text-decoration: none;}

.sideButton.medianaranja a{
    bottom: 7px;
}

.compare{background: url("../img/bt_compare.gif") no-repeat scroll 0 -0 transparent;}
.medianaranja{background: url("../img/bt_orange.gif") no-repeat scroll -3px -3px transparent;}
.share{background:url("../img/bt_share.gif") no-repeat scroll -4px -1px transparent;}

.compare:active{background-position: 0 -63
/**/px;}
.medianaranja:active{background-position: -3px -66px;}
.share:active{background-position: -4px -69px;}



.sideButton:hover{ border-bottom: 2px solid #CED4DA; border-right: 1px solid #D7DADD; border-left: 1px solid #D7DADD; border-top:1px solid #D7DADD; margin-bottom: 6px;} /*99AAB1*/



/*==== TRAYECTORIA Y POSICIONES===*/

.trayectoriaYPosiciones{
    background: url("../img/bg_Section2.png") repeat-x scroll 0 2px,
                url("../img/line_v.gif") repeat-y scroll 0 0pt,
                url("../img/line_v.gif") repeat-y scroll right 0pt,
                url("../img/dotline.gif") repeat-y scroll 300px 50px #FFFFFF;
    border-bottom: 1px solid #BCBEC0;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 10px;
}
.trayectoriaYPosiciones .wrapW{}

.trayectoria{
    margin-right: 20px;
    width: 277px;
}
.trayectoria, .posiciones{
    float: left;
}

.trayectoria h2, .posiciones h2{
    background: none repeat scroll 0 0 #A2B2BD;
    color: white;
    display: block;
    font-size: 14px;
    margin: -10px -10px 22px;
    padding: 6px 9px;
    border: 1px solid #99AAB1;
}

.trayectoria h2{border-right: none;}

 .posiciones h2{
     border-left: medium none;
    margin-left: -20px;
    padding-left: 20px;
     }

.posiciones{
    margin-left: 10px;
    width: 563px;
}

.brdotted{}

.trayectoriaYPosiciones span.profile-description{}

/*==== Accordions ====*/
.trayectoria  .accordion h3{
    background-color: #B0D0ED;
    color: #fff;
}
.answer{}


.answerContainer{ padding-bottom: 15px;
}


/*TOOLTIPS*/
.explanationAnswer .sentence{}