@charset "UTF-8";
/* CSS Document */

body{ font-family: 'AllerRegular', Helvetica, Arial, sans-serif; font-size: 11px; color: #666666; background-color: #A1B2B8; line-height:19px; overflow-x: hidden;
    width: 100%;}


/*
 * Browser Reset
 */


label{font-weight: normal;}

pre .cake-debug{ display: block; position:absolute; }

fieldset, img { border: 0; }


a:focus { outline: none; }



html {
    height: 100%;
    margin-bottom: 1px;
}

/*
 * New standard values
 */


/* paragraph */
p { margin: 10px 0px 5px;}

/* lists */
ul{margin: 0; padding: 0; list-style:none}

/* tables */
td, th { padding: 1px; }


/* horizontal rule */
hr {
    margin: 15px 0px 15px 0px;
    display: block;
    background: #e8e8e8;
    height: 1px;
    border: none;
}

/* blockquotes */
blockquote {
    margin: 10px 0 10px 15px;
    padding: 0px 0px 0px 0px;
    font-style: italic;
    font-size: 130%
}


/* @FONT-FACE*/

@font-face {
    font-family: 'AllerItalic';
    src: url('../fonts/aller_it-webfont.eot');
    src: url('../fonts/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_it-webfont.woff') format('woff'),
         url('../fonts/aller_it-webfont.ttf') format('truetype'),
         url('../fonts/aller_it-webfont.svg#AllerItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AllerBoldItalic';
    src: url('../fonts/aller_bdit-webfont.eot');
    src: url('../fonts/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bdit-webfont.woff') format('woff'),
         url('../fonts/aller_bdit-webfont.ttf') format('truetype'),
         url('../fonts/aller_bdit-webfont.svg#AllerBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AllerBold';
    src: url('../fonts/aller_bd-webfont.eot');
    src: url('../fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bd-webfont.woff') format('woff'),
         url('../fonts/aller_bd-webfont.ttf') format('truetype'),
         url('../fonts/aller_bd-webfont.svg#AllerBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AllerRegular';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype'),
         url('../fonts/aller_rg-webfont.svg#AllerRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*LAYOUT*/

.wrapper{
    background-color: #F2F2F2;
    margin: 20px auto;
    padding: 20px;
    width: 890px;
    overflow: hidden;
}
.wrapBasic{
    margin: auto;
    width: 930px;
}

.wrapW{
    background-color: #FFFFFF;
    border: 1px solid #BCBEC0;
    float: none;
    overflow: hidden;
    padding: 10px;
}

/* FORMULARIOS */

.instrucciones{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-style:italic;
    font-size:12px;
}

.tit_fondoverde{
    font-size:12px;
    color:#fff;
    font-family: 'AllerBold';
    padding: 2px 4px 1px 6px;
    text-transform:uppercase;
    letter-spacing:1px;
    background-color:#a1b2b8;
    border: 1px none #94A9AF;
}


.tit_fondoceleste{
    font-size:12px;
    color:#fff;
    font-family: 'AllerBold';
    padding-top:20px;
    padding-bottom:20px;
    text-transform:uppercase;
    letter-spacing:1px;
    background-color:#a1b2b8;
    border: 1px none #94A9AF;
}

.bt_siguiente{
    float: right;
    margin-bottom: 15px;
}

.bt_agregar{
    float:right;
    margin-bottom:15px;
    margin-top: -25px;
}

.errorlist{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:12px;
    color:#333;
    margin-bottom: 10px;
    margin-top: -6px;
}

form{
    margin-top: -25px;
}

p input{
    background-color: #E8E8E8;
    border: 1px solid #DCDCDC;
    height: 17px;
    width: 328px;
    margin-top:3px;
}

p textarea{
    background-color: #E8E8E8;
    border: 1px solid #DCDCDC;
    height: 60px;
    width: 350px;
    margin-top:3px;
}

p input#id_name{
    margin-top:3px;
    width: 327px;
}

p input#id_date{
    margin-top:3px;
}

p input#id_logo{
    height: 18px;
}

div.instrucciones{
    margin-right: 25px;
    line-height: 16px;
}

/*======= WIZARD ========*/

.fondo_formulario{
    background:#FFF;
    box-shadow: -1px 1px 8px 1px #666666;
    width:400px;
    position:relative;
    left: 50%;
    margin-left: -200px;
    overflow:hidden;
    margin-top:25px;
    min-height: 213px;
}

.numero_on{
    font-size:36px;
    color:#80b6e2;
    font-family: 'AllerBold';
}

.numero_off{
    font-size:36px;
    color:#e8e8e8;
    font-family: 'AllerBold';
}

.numero_on a, .numero_off a {
    text-decoration: none;
    color: inherit;
}

.uno{
    position: absolute;
    top:20px;
    left:25px;
}

.dos{
    position: absolute;
    top: 20px;
    left: 105px;
}

.tres{
    position: absolute;
    top: 20px;
    left: 185px;
}

.cuatro{
    position: absolute;
    top: 20px;
    left: 265px;
}

.cinco{
    position: absolute;
    left: 345px;
    top: 20px;
}

.example_window{
    display:none;
}

.forms_content{
    width:352px;
    overflow:hidden;
    padding-left: 25px;
}

.add_background_input{
    background-color: #E8E8E8;
    border: 1px solid #DCDCDC;
    height: 17px;
    margin-top:3px;
    color: #999;
    width: 326px;
    margin-bottom: 25px;
}

.inicio_wizard h5{
    background-color:#80b6e2;
    border: 1px solid #72acd9;
    color:#ffffff;
    letter-spacing:1px;
    margin: 90px 25px 13px 25px;
    padding: 13px 0px 13px 6px;
}

/*LOGIN*/

.logo{
    margin-top:25px;
    margin-bottom: 25px;
}

.usuario h3{
    margin-left:0px;
    padding: 2px 4px 2px 4px;
    font-size: 12px;
    width: 134px;
    margin-bottom: -7px;
}

.usuario{
    margin-top: -34px;
    margin-left: 20px;
}

.clave h3{
    margin-left:0px;
    padding: 2px 4px 2px 4px;
    font-size: 12px;
    width: 84px;
    margin-bottom: -7px;
}

.clave{
    margin-left: 20px;
}

.img_login{
    margin: 10px 13px 10px 0px;
}

.txt_login{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 12px;
    width: 134px;
    line-height: 14px;
    margin-top: -51px;
    margin-left: 51px;
}

.link_next{
    margin-left: 353px;
}

.background_tit{
    background-color:#a1b2b8;
    border:1px solid #94a9af;
    padding: 1px 4px;
    color: white;
    line-height: 23px;
}

.background_item{
    background-color:#c7d2d4;
    border:1px solid #b8c5c5;
    padding: 1px 4px;
    color: white;
    line-height: 23px;
}

#newelection #id_description {
    margin-left: 0px;
    width: 328px;
}