# encoding=UTF-8
# You may override any of the settings in settings.py in this file.

TIME_ZONE = 'America/New_York'

LANGUAGE_CODE = 'en'

DEFAULT_PERSONAL_DATA = [
    u'Age',
    u'Gender',
    u'Marital status',
    u'Profession',
]

DEFAULT_BACKGROUND_CATEGORIES = {
    u'Education': [
        u'Post-secondary education',
    ],
    u'Employment': [
        u'Last job',
    ],
}

DEFAULT_QUESTIONS = [
    {
        'Category': u'Metaphysical',
        'Questions': [
            {
                'question': u'Is the glass half-empty or half-full?',
                'answers': [u'Half-empty', u'Half-full'],
            },
        ],
    },
]
