Django==1.3
Pygments==1.4
South==0.7.3
coverage==3.5.1
distribute==0.6.19
django-coverage==1.2.1
django-debug-toolbar==0.8.5
django-extensions==0.7.1
django-grappelli==2.3.5
django-profiles==0.2
-e hg+http://bitbucket.org/ubernostrum/django-registration/@1086c6a#egg=django-registration
django-social-auth==0.6.0
docutils==0.8.1
httplib2==0.7.4
ipython==0.11
oauth2==1.5.170
pep8==0.6.1
python-openid==2.2.5
sorl-thumbnail==11.09.1
wsgiref==0.1.2
pillow==2.0.0
django-tastypie==0.9.15
django-markdown-deux==1.0.4
