Django==1.6.2
Pygments
South
coverage
django-coverage
django-debug-toolbar
django-extensions
django-grappelli
django-profiles
django-registration
django-social-auth
docutils
httplib2
ipython
pep8
python-openid
sorl-thumbnail
wsgiref
pillow
django-tastypie
django-markdown-deux
pyaml
unidecode
django-nose