{% extends "elections/base_edits.html" %}
{% load url from future %}
{% load i18n %}
{% if not account %}		
	    {% block title %}Error en la activación{% endblock title %}
	{% block content %}
	<div class="fondo_formulario">
		<div class="forms_content">
			<h1>{% trans 'Error en la activación' %}</h1><hr /><br />
	    	<div class="instrucciones">La clave de activación usada no existe o no está activa. Por favor intentalo nuevamente.</div>
		</div>
	</div>
	{% endblock content %}
{% else %}		
	{% block title %}Activación exitosa{% endblock title %}
	{% block content %}
	<div class="fondo_formulario">
		<div class="forms_content">
			<h1>{% trans 'Activación exitosa' %}</h1><hr /><br />
	    	<div class="instrucciones"><img src="{{ STATIC_URL }}img/asterisco_celeste.png" />Tu cuenta ha sido activada ahora puedes...</div>
	    	<div class="img_login"><img src="{{ STATIC_URL }}img/login_comparar.png" /></div><div class="txt_login"><a href="/">crear tu primera elección</a></div>
		</div>
	</div>
	{% endblock content %}
{% endif %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wizard-forms.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plantillas.css">
{% endblock extra_head %}