{% extends "elections/base_edits.html" %}

{% load url from future %}
{% load i18n %}
{% block title %}{% trans "Recupera tu password" %}{% endblock title %}
{% block content %}




<div class="fondo_formulario">
    <div class="forms_content">
        <div class="logo"><img src="{{ STATIC_URL }}img/logo.png" /></div>
        <p>{% trans "¿Olvidaste tu password? Ingresa tu email y te mandaremos las instrucciones para que crees uno nuevo." %}</p>

    <form method="post" action="">
    {% csrf_token %}
    
    
    <table>
    <tr>
        <div class="usuario">
            <span class="blue_edit">{% trans 'Tu email:' %}</span><span>{{ form.email }}</span>
        </div>
    </tr>
    </table>

    <input type="submit" class="bt" value="{% trans 'Recupera tu password' %}" />


    
    </form>

    
    </div>    
</div>

{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wizard-forms.css">
{% endblock extra_head %}