{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}Estas recibiendo este email para resetear tu password en http://www.candideit.org.{% endblocktrans %}

{% trans "En el siguiente link podr&aacute;s cambiar tu password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% trans "Tu nombre de usuario en caso de que lo olvidaras:" %} {{ user.username }}

{% trans "Gracias por usar candideit.org!" %}

{% blocktrans %}El equipo de la Funcaci&oacute;n Ciudadano Inteligente{% endblocktrans %}

{% endautoescape %}