{% extends "elections/base_edits.html" %}

{% load url from future %}
{% load i18n %}
{% block title %}{% trans "Recupera tu password" %}{% endblock title %}
{% block content %}




<div class="fondo_formulario">
    <div class="forms_content">
        <div class="logo"><img src="{{ STATIC_URL }}img/logo.png" /></div>
        <p>{% trans "Se realizó el cambio de password" %}</p> 
    </div>    
</div>

{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wizard-forms.css">
{% endblock extra_head %}