{% extends "elections/base_edits.html" %}

{% load url from future %}
{% load i18n %}
{% block title %}Home {% endblock title %}
{% block content %}

<div class="papel">
	<div class="contenedor3">
			<div class="slider-wrapper theme-default">
            	<div class="ribbon"></div-->
            	<div id="nivoslider-125" class="nivoSlider" style="width:850px;height:349px;">
                <img src="{{ STATIC_URL }}img/home3.jpg" alt="" />
                <img src="{{ STATIC_URL }}img/home2.jpg" alt="" />
                <img src="{{ STATIC_URL }}img/home1.jpg" alt="" />
             	</div>
            </div>

<p class="destacado-home">Candideit.org es tu aliado para repartir la torta. Si tienes una elección, y quienes compartir con tus círculos cercanos las opciones, generar comparaciones y fomentar el voto informado, ahora tienes un espacio dinámico e interactivo.</p>
            <br />
            <br />

    <div class="bt_cuadrado bthome"><a href="{% url 'election_create' %}">{% trans 'CREA TU ELECCIÓN' %}</a></div>

    <div class="alRegistrarte">
            <div class="instrucciones">¿Eres nuevo? ¡bienvenido! al registrarte y crear tu elección podrás...</div>
            <div class="img_comparar"><img src="{{ STATIC_URL }}img/login_comparar.png" /></div><div class="txt_comparar">comparar los candidatos...</div>
            <div class="img_descubrir"><img src="{{ STATIC_URL }}img/login_naranja.png" /></div><div class="txt_descubrir">descubrir quien es tu media naranja política...</div>
            <div class="img_compartir"><img src="{{ STATIC_URL }}img/login_comparte.png" /></div><div class="txt_compartir">y compartir los resultados</div>
    </div> 


     <div class="informacion_de_elecciones_existentes">
        
        <div class="lista_elecciones_en_home">
                <iframe style="margin-top: 5px;" width="263" height="148" src="http://www.youtube.com/embed/EWuFQa3c_5k?rel=0" frameborder="0" allowfullscreen></iframe>
         </div>
        <div class="lista_elecciones_en_home">
            <h2>{% trans 'Elecciones destacadas' %}</h2>
           <ul>
                {% for highlighted_election in highlighted_elections %}
                <div class="{% cycle 'odd' 'even' %}" id="{{entry.id}}">
                <li><span class="bold">{{ forloop.counter }} </span>{{ highlighted_election }} <span class="goeditAzul"><a href="{{ highlighted_election.get_absolute_url }}" title="http://{{ request.META.HTTP_HOST }}{{ highlighted_election.get_absolute_url }}"> ver</a></span></li>
                </div>
                {% endfor %}
            </ul>
         </div>
        <div class="lista_elecciones_en_home">
            <h2>{% trans 'Últimas elecciones' %}</h2>
            <ul>
                {% for last_election in last_elections %}
                <div class="{% cycle 'odd' 'even' %}" id="{{entry.id}}">
                <li><span class="bold">{{ forloop.counter }} </span>{{ last_election }} <span class="goeditAzul"><a href="{{ last_election.get_absolute_url }}" title="http://{{ request.META.HTTP_HOST }}{{ last_election.get_absolute_url }}"> ver</a></span></li>
                </div>
                {% endfor %}
            </ul>
         </div>
         
         
    </div>
    <br>
    <br>
    <br>
    </div>    
</div>  
    
    
<!-- FOOTER -->

<div class="papel">
	<div class="contenedor3">
    
    <div class="github goeditAzul">¿Quieres ver nuestro código? revisalo acá: <a href="http://www.github.com/ciudadanointeligente/candidator">http://www.github.com/ciudadanointeligente/candidator</a></div>

<hr />


	<footer>
    <iframe width="900px" height="300" frameborder="0" style="overflow: hidden;" src="http://ciudadanointeligente.org/assets/fcifooter.html"></iframe>
			
	</footer>
	
	

	</div>
</div>
     
     
<!-- END FOOTER -->





  



    
{% endblock content %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wizard-forms.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nivo-slider.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/themes/default/default.css" />
{% endblock extra_head %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">
jQuery(window).load(function(){
    jQuery("#nivoslider-125").nivoSlider({
        effect: 'slideInLeft',
        animSpeed: 500,
        pauseTime: 10000
    });
});
</script>
<script type="text/javascript">
$(".bt_cuadrado").click(function(){
     window.location=$(this).find("a").attr("href"); 
     return false;
});
</script>
{% endblock extra_js %}
