{% extends "elections/base.html" %}

{% block title %}
{{ block.super }} Election
{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/media_naranja.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.rating.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profile.css">


{% endblock extra_head %}

{% block content %}


<div class="papel">
	<div class="contenedor1">
	    <h1>{{election}}</h1>
		<div class="ico_tit">
			<img src="{{ STATIC_URL }}/img/ico_medianaranja.png" width="76" height="73" />
		</div>
    	<h3>TU MEDIA NARANJA POLÍTICA</h3>
    	<div class="txt_intro">
    		Tu media naranja política es...
    	</div>
		<div class="candidatesBasicInformation wrapW" style="border:0px;">
            <header style="width:580px;top:0px;">
                <h1>{{winner.2}}</h1>
                	<table style="margin-left:10px;padding:0;">
		                <tr>
		                	<td style="width:280px;" valign="top">  	
		                  		<table style="width:280px;border-right:1px dotted #99AAB1;">
			                  		<tr>
			                  			<td colspan="2">
						            		<div class="globo_left">
												índices de compatibilidad
											</div>
			                  			</td>
			                  		</tr>
					            	<tr>
										<td>
											{% for category in categories %}
												<p>{{category}}</p>
											{% endfor %}
										</td>
										<td>
											{% for category_score in winner.1 %}
												<p>{{category_score}}</p>
											{% endfor %}
										</td>
									</tr>
								</table>
							</td>
							<td  style="width:280px;" valign="top">
								<table style="width:280px;">
									<tr>
										<td colspan="2">
											<div class="globo_left">
												¿estás de acuerdo con tu resultado?
											</div>
										</td>
									</tr>
									<tr>
										<td>
											&nbsp;
										</td>
										<td>
											&nbsp;
										</td>
									</tr>
									<tr>
										<td>
											<input type="checkbox" value="si">Si
										</td>
										<td>
											&nbsp;
										</td>
									</tr>
									<tr>
										<td>
											<input type="checkbox" value="no">No
										</td>
										<td>
											&nbsp;
										</td>
									</tr>
									<tr>
										<td>
											&nbsp;
										</td>
										<td>
											<input type="button" value="comparte">
										</td>
									</tr>					
								</table>
							</td>
						</tr>
				</table>
					
            </header>
            <div class="profileImg">
                
                    <img width="160" height="200" style="margin: 0px 0px 0px 0px" alt="Juanito Perez" src="/media/cache/38/d1/38d1c7ba30f31132aa4a56e886b6dc18.jpg">
                
            </div>
            <aside class="profileAside">
                <div class="sideButton compare">
                    <a href="/javier/cei-2012/compare/juanito-perez">
                        Compara
                    </a>
                </div>
                <div class="sideButton medianaranja">
                    <a href="/javier/cei-2012/medianaranja">
                        Media<wbr></wbr>Naranja
                    </a>
                </div>

                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox sideButton share">
                    <!-- AddThis Button BEGIN -->
                    <a href="https://www.addthis.com/bookmark.php?v=250&amp;pubid=ra-4e7a236a4a5434b2" class="addthis_button">
                        Comparte
                    </a>

                    <!-- AddThis Button END -->
                    <div class="atclear"></div>
                <div class="atclear"></div></div>
                <!-- AddThis Button END -->
            </aside>
		</div>
    </div>
    <div class="contenedor1">
    	<table>
			{% for data_candidate in others %}
				{% if forloop.counter0|divisibleby:"2" %}
					<tr>
				{% endif %}
				<td>
					<table style="width:420px;border-right:1px dotted #99AAB1;">
						<tr>
							<td valign="top">
								<div class="profileImg">
					                <img width="118" height="140" style="margin: 0px 0px 0px 0px" alt="Juanito Perez" src="/media/cache/38/d1/38d1c7ba30f31132aa4a56e886b6dc18.jpg">
					            </div>
							</td>
							<td valign="top" style="width:270px;">
								{{data_candidate.2}}
								<table>
									<tr>
										<td style="width:200px;">
											{% for category in categories %}
												<p>{{category}}</p>
											{% endfor %} 
										</td>
										<td>
											{% for category_score in data_candidate.1 %}
												<p>{{category_score}}</p>
											{% endfor %}
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
				{% if forloop.counter|divisibleby:"2" %}
					</tr>
				{% endif %}
			{% endfor%}
		</table>
    </div>

</div>



			{% endblock content %}
