{% extends "elections/base.html" %}

{% block title %}
{{ block.super }} Election
{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/media_naranja.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.rating.css">

{% endblock extra_head %}

{% block content %}

<div class="papel">
<div class="contenedor1">

    <h1>{{election}}</h1>

    <div class="ico_tit"><img src="/static/img/ico_medianaranja.png" width="76" height="73" /></div>
    <h3>TU MEDIA NARANJA POLÍTICA</h3>

    <div class="txt_intro">La media naranja es una aplicación en la que podrás conocer tu cercanía con los candidatos a las presidencia. Esto NO es un juego. Los datos los hemos recopilado de diferentes fuentes periodísticas y por ello los temas y opciones que ponemos a disposición son sólo aquellas que los candidatos han declarado. Son las posiciones REALES de los candidatos que aspiran a ocupar la presidencia de nuestro país.<br /><br />
    Las preguntas seleccionadas para incluir en esta aplicación fueron escogidas en función de que fueron aquellas sobre las que tuvimos mayor densidad de información por parte de cada uno de los candidatos.</div>


</div><!--contenedor1-->


    <form action="" method="POST">{% csrf_token %}
    <div class="contenedor1">

    <div class="contenedor_globo">
    <div class="globo_left">Responde la encuesta y encuentra tu 1/2 naranja política</div>
    <div class="globo_right">Asignale la importancia que tu quieras a cada pregunta</div>
    </div>

    {% for cat,data in stt %}
    <div class="categoria">
        <h2>{{cat.name}}</h2>
        {% for num,preg,ans_list in data %}


     <div class="col_left">
        <h4>{{preg.question}}</h4>
        {% for ans in ans_list %}
        <input type="radio" name="question-{{num}}" value="{{ans.id}}" /> {{ans.caption}}<br />
        {% endfor %}
        <!-- value = -1 is meant for default answers -->
        <input type="radio" name="question-{{num}}" value="-1" checked="checked" />
        Ninguna de las anteriores representa mi posición<br />
     </div>

     <div class="col_right">
            <h4>Importancia</h4>
            <input type="radio" name="importance-{{num}}" value="1" class="star"/>
        <input type="radio" name="importance-{{num}}" value="2" class="star"/>
        <input type="radio" name="importance-{{num}}" value="3" checked="checked" class="star"/>
        <input type="radio" name="importance-{{num}}" value="4" class="star"/>
        <input type="radio" name="importance-{{num}}" value="5" class="star"/>
    </div>

    <br style='clear: both;'/>
        {% endfor %}
        </div><!--categoria-->
    {% endfor %}



    <input type="submit" class='submit' value="Encontrar mi Media Naranja" />
    </div><!--contenedor1-->

    </form>


</div><!--papel-->




<!--
<br><hr>
















{% for category in categories.all %}
    <h2>{{ category.name }}</h2>
    {% for question in category.question_set.all %}
    <ul>
        <li style='float: left; display: block;'>
            <h4>{{ question.question }}</h4>
            <ul class='answers'>
            {% for answer in question.answer_set.all %}
                <li>
                    <label>
                        <input type="radio" name="question[{{ question.pk }}]" value="{{ answer.pk }}"/>
                        {{ answer.caption }}
                    </label>
                </li>
                {% empty %}
                <li>
                    <strong>No hay respuestas asociadas</strong>
                </li>
            {% endfor %}
                <li>
                    <label>
                        <input type="radio" name="question[{{ question.pk }}]" value="-1" checked="checked" />
                        Ninguna de las anteriores representa mi posición
                    </label>
                </li>
            </ul>
        </li>
        <li style='float: left; display: block;'>
            <h4>Importancia</h4>
            <ul style='list-style: none;'>
                <li style='float: left;'>
                    <label>
                        <input type="radio" name="importance[{{ question.pk }}]" value="1" /> 1
                    </label>
                </li>
                <li style='float: left;'>
                    <label>
                        <input type="radio" name="importance[{{ question.pk }}]" value="2" /> 2
                    </label>
                </li>
                <li style='float: left;'>
                    <label>
                        <input type="radio" name="importance[{{ question.pk }}]" value="3" checked="checked" /> 3
                    </label>
                </li>
                <li style='float: left;'>
                    <label>
                        <input type="radio" name="importance[{{ question.pk }}]" value="4" /> 4
                    </label>
                </li>
                <li style='float: left;'>
                    <label>
                        <input type="radio" name="importance[{{ question.pk }}]" value="5" /> 5
                    </label>
                </li>
            </ul>
        </li>
    </ul>
    <br style='clear: both;'/>
    {% endfor %}
{% empty %}
    <h2>No hay categorías</h2>
{% endfor %}
<p>
    <input type="submit" value="Encontrar mi Media Naranja" />
</p>
</form>-->
{% endblock content %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/jquery.MetaData.js"></script>
<script src="{{ STATIC_URL }}js/jquery.rating.js"></script>


{% endblock extra_js %}


