{% extends 'elections/base_edits.html' %}
{% load i18n %}

{% block title %}
{% trans 'Candidatos' %}
{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plantillas.css">
{% endblock extra_head %}

{% block content %}

<div class="contenedor_body">

<!-- MENU VERTICAL -->
{% include 'elections/updating/menu.html' with section='new_candidate' %}
<!-- CIERRE MENU VERTICAL -->     
 
<!-- CONTENIDO -->
    <span class="breadcrumbs goedit anchor"><a href="{% url "my_election_list" %}">{% trans 'Mis Elecciones' %}</a> > {{election}} > <a href="{% url "candidate_create_alone" election_slug=election.slug%}">{% trans 'Candidatos' %}</a></span>
    <div class="papel_edit">
    <div class="wrapper_plantillas">
    	<head>
        <h1>{% trans 'CANDIDATOS:' %}<span class="celeste"> {% trans '¿QUIÉNES SON?' %}</span></h1>
		<hr />
        </head>
         <ul id="lista_candidatos">
        {% if election.candidate_set.count == 0 %}
        {% trans 'Aún no tienes candidatos' %}
        {% endif %}
        {% if election.candidate_set.count == 1 %}
        {% trans 'Debes tener al menos dos candidatos' %}
        {% endif %}
        {% for candidate in election.candidate_set.all %}
        <li style="margin-bottom:4px;" id="candidate_{{ candidate.pk }}">
            <span class="bold">
                {{ candidate.name }} <a href="javascript:void(0);" onclick="candidate_delete({{candidate.pk}}); return false;"><img style="position:absolute; margin-left:6px; margin-top: 7px;" src="{{ STATIC_URL }}img/bt_eliminar.png"/></a>
                <!-- {% blocktrans with num=forloop.counter %}Candidato {{ num }}{% endblocktrans %} -->
            </span>
            <!-- &nbsp;{{ candidate.name }} -->
        </li>
        {% endfor %}
    </ul>
    <br/>
<div id="link_add">
    <form id="newcandidate" method="POST" enctype="multipart/form-data" action="{% url "candidate_create_alone" election_slug=election.slug %}">{% csrf_token %}
        {{ form.non_field_errors }}
        <p><input id="id_name" type="text" maxlength="255" name="name" placeholder="{{ form.name.label}}"></p>
<div class="bt_addCandidate"><a class="bt_input" href="javascript:void(0);" onclick="document.forms['newcandidate'].submit();return false;">{% trans 'agregar' %}</a></div>

        </div>


    </form>
    </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ form.media }}
    <script type="text/javascript">

        $(function () {
            $('#id_first_name, #id_last_name').keyup(function () {
                var first_name = $.trim($("#id_first_name").val());
                var last_name = $.trim($("#id_last_name").val());
                var value = "";
                if (first_name != '' || last_name != '') {
                    if (first_name != '' && last_name != '') {
                        value = first_name + '-' + last_name
                    }
                    else if (first_name == '') {
                        value = last_name
                    }
                    else if (last_name == '') {
                        value = first_name
                    }
                }
                $('#id_slug').val($.slug(value));
            });

            $('#id_personal_information_table tbody tr').formset({
                extraClasses:['row1', 'row2', 'row3']
            })
            $('#id_link_table tbody tr').formset({
                extraClasses:['row1', 'row2', 'row3']
            })
        });
    </script>
    <script type="text/javascript">

        function get_base_url(){
            var actual_direction  = location.href
            var reference_pattern = "/candidate/candidate_create_alone"
            var position_pattern  = actual_direction.indexOf(reference_pattern)
            var pre_direction     = actual_direction.substring(0,position_pattern)
            //var final_direction   = pre_direction + "/candidate/async_delete/"
            return pre_direction
        }

        function candidate_delete(candidate_pk){
            var answer = confirm("{% trans '¿Estas seguro que quieres eliminar este candidato ?' %}");
            if(answer){
                var dir = "{% url "async_delete_candidate" %}";
                $.post(dir, {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'candidate_pk':candidate_pk
                        },
                    function(json){
                        $("#candidate_"+candidate_pk).remove();
                        if($("[id ^= candidate_]").size() == 0)
                            $("#link_next").remove();
                    })
            }
            else {
                return false;
            }
        }
    </script>
{% endblock %}

</div>
