{% extends 'elections/base_edits.html' %}
{% load i18n %}
{% load thumbnail %}

{% block title %}
{% trans 'Información general de la elección' %}
{% endblock title %}


{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plantillas.css">
{% endblock extra_head %}

{% block content %}

<div class="contenedor_body">

<!-- MENU VERTICAL -->
      {% include 'elections/updating/menu.html' with section='general_information' %}  
<!-- CIERRE MENU VERTICAL -->     
 
<!-- CONTENIDO -->
    <span class="breadcrumbs goedit anchor"><a href="{% url my_election_list %}">{% trans 'Mis Elecciones' %}</a> > {{election}} > <a href="{% url election_update slug=election.slug%}">{% trans 'Información general de la elección' %}</a></span>
    <div class="papel_edit">
    <div class="wrapper_plantillas">
    	<head>
        <h1>{% trans 'ELECCIÓN:' %}<span class="celeste"> {% trans 'INFORMACIÓN GENERAL DE TU CANDIDEIT.ORG' %}</span></h1>
		<hr />
        </head>

		<section>
        <br/>
        

        <form id="newelection" method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ form.non_field_errors }}
            <p class="fieldWrapper">
                <label for="id_name" class="blue_edit">{{ form.name.label }}</label>
                {{ form.name }}
                {{ form.name.errors }}
            </p>
            
            <aside class='guide'>
            <div class="permalink" alt="{% trans 'Dirección de tu candideit.org' %}" >{% trans 'Permalink:' %}<div class="slug">{{ election_url }}</div></div>
			</aside>
            
            <p class="fieldWrapper">
                <label for="id_date" class="blue_edit">{% trans 'fecha de la elección:' %}</label>
                {{ form.date }}
                {{ form.date.errors }}
                
            </p>

            <p class="fieldWrapper">
                <p style="display:none">{{ form.slug }}
                {{ form.slug.errors }}</p>
            </p>

            <p class="fieldWrapper">
                <label for="id_description" class="blue_edit">{% trans 'BREVE DESCRIPCIÓN DE TU CANDIDEIT.ORG:' %}</label><br />
                {{ form.description }}
                {{ form.description.errors }}
            </p>

            <p class="fieldWrapper">
                <label class="blue_edit">{% trans 'IMAGEN' %}</label><br />
                {% if election.logo %}
                    {% thumbnail election.logo "680x64" as im %}

                        <div class="logo_eleccion_edit logo_eleccion electionLogo election_logo_change" ><img src="{{ im.url }}" alt="Cambia la imagen" style="margin: {{ im|margin:"680x64" }}" /></div>

                    {% endthumbnail %}
                {% else %}
                    <div class="logo_eleccion_edit logo_eleccion electionLogo election_logo_change" style="width:680px;height:64px;" ><center>{% trans 'No has seleccionado ninguna imagen' %}</center></div>
                {% endif %}

            </p>

            <p class="fieldWrapper">
                <label for="id_source" class="blue_edit">{% trans '¿DE DÓNDE SACASTE LA INFORMACIÓN?' %}</label><br />
                {{ form.information_source }}
                {{ form.information_source.errors }}
            </p><span><a class="bt" href="javascript: void(0);" onclick="document.forms['newelection'].submit();return false;">{% trans 'Guardar' %}
               </a></span>

        </form>
        </section>
    </div>


   



</div>
<div id="form-election-logo"></div>


{% endblock %}

<!-- CIERRE CONTENIDO -->   

{% block extra_js %}
    {{ form.media }}
    <script src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script type="text/javascript">
        
        $(document).ready(function() {
            $('#form-election-logo').load('{% url update_election_photo pk=election.pk %}').dialog({autoOpen: false, width: 500, height: 150, modal: true});
            $('.electionLogo').click(function(event){$('#form-election-logo').dialog('open');});


            $('#newcandidate').ajaxForm(function() {
                getCandidateList();
            });
        });
        function getCandidateList(){
            $.post(
                    '{% url candidate_list_json election_slug=election.slug username=election.owner.username %}',
                    {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    function(data){
                        drawCandidateList(data);
                    }
            )
        }

        function drawCandidateList(candidateList){
            $('#lista_candidatos li').remove();

            for(var index in candidateList){
                var html = '<li style="margin-bottom:4px;" id="candidate_'+candidateList[index].id+'"><span class="tit_fondoverde">';
                html += candidateList[index].name;
                html += '<a href="javascript:void(0);" onclick="deleteCandidate('+candidateList[index].id+'); return false;">';
                html += '<img style="margin-left:6px;" src="{{ STATIC_URL }}img/bt_eliminar(verde).png"/>';
                html += '</a>';
                html += '</span>';
                html += '</li>';

                $('#lista_candidatos').append(html);
            }
        }

    function deleteCandidate(id){
        var answer = confirm("¿Estas seguro que quieres eliminar este candidato ?");
        if(answer){
            var dir = "{% url async_delete_candidate %}";
            $.post(dir, {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'candidate_pk':id
                    },
                    getCandidateList)
        }
        else {
            return false;
        }
    }
    </script>
{% endblock %}
