 {% load i18n %}


            <div class="nombreEleccion"><h1>{% trans 'Editando la elección: ' %}{{ election.name }}<a href="{{ election.get_absolute_url }}" target="_blank">{% trans 'ver' %}</a></h1></div>


            <div class="candidate-edit-menu">
                <div class="nombre election_name {% if section == 'answers' %}selected{% endif %}">
                    <a href="{% url multiple_candidate_data_update election_slug=election.slug %}"><span class="menuBig">{% trans 'Rellenar' %}</span>{% trans 'mi candideitorg' %}</a>
                </div>
                <div class="menuedit_accordion">
                    <div class="menuedit_tit nombre election_name{% if section == 'general_information' or section == 'new_candidate' or section == 'questions' %} selected{% endif %} "><span class="menuBig">{% trans 'Editar' %}</span>{% trans 'mi candideitorg' %}</div>
                    <div class="menuedit_eleccion {% if section == 'general_information' or section == 'new_candidate' or section == 'questions' %}actual{% endif %}">
                        <div class="menuedit"><a href="{% url election_update slug=election.slug %}">{% trans 'Información general' %}</a></div>
                        <div class="menuedit "><a href="{% url election_update_data slug=election.slug %}">{% trans 'Preguntas' %}</a></div>
                        <div class="menuedit">
                            <a href="{% url candidate_create_alone election_slug=election.slug %}">{% trans 'Candidatos' %}</a>
                        </div>

                    </div>
                </div>
                <!-- Creo que esta funcionalidad de agregar un nuevo candidato debe ir en otro sitio -->
                <div class="bt_publicar  {% if section == 'share' %}{% endif %}">
                    <a href="{% url share_my_election slug=election.slug %}">{% trans 'Publicar' %}</a>
                </div>
            </div>
