{% extends 'elections/base_edits.html' %}
{% load i18n %}

{% block title %}
{% trans 'Comparte tu elección' %}
{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plantillas.css">
<meta property="og:title" content="{{ election.name }}" />
<meta property="og:type" content="" />
<meta property="og:url" content="http://{{ request.META.HTTP_HOST }}{{ election.get_absolute_url }}" />
<meta property="og:description" content="{{ election.description }}" />
<meta property="og:site_name" content="candideit.org" />
{% endblock extra_head %}

{% block content %}
<div class="contenedor_body">
	{% include 'elections/updating/menu.html' with section='share' %}  
	<span class="breadcrumbs goedit anchor"><a href="{% url my_election_list %}">{% trans 'Mis Elecciones' %}</a> > {{election}} > <a href="{% url share_my_election slug=election.slug%}">{% trans 'Comparte tu elección' %}</a></span>
<div class="papel_edit">
	<div class="wrapper_plantillas">
    <div class="blue_edit" style="text-align: center;">TU CANDIDEIT.ORG ESTA PUBLICADO, AHORA COMPARTELO!</div>
		<img src="{{ STATIC_URL }}img/avion.png" style="margin: -30px 0px 40px -27px;"></img>

		<br />
		<span class="link_a_tu_candideitorg_label">Link a tu candideit.org:</span>
		<div class="link_a_tu_candideitorg">http://{{ request.META.HTTP_HOST }}{{ election.get_absolute_url }}</div>
		<div class="sharing_my_election" >
			<span class='st_facebook_vcount' displayText='Facebook' st_title="{{ election.name }}" st_summary="{{ election.description }}" st_url="http://{{ request.META.HTTP_HOST }}{{ election.get_absolute_url }}"></span>
			<span class='st_twitter_vcount' displayText='Tweet' st_title="{{ election.name }}" st_summary="{{ election.description }}" st_url="http://{{ request.META.HTTP_HOST }}{{ election.get_absolute_url }}"></span>
			<span class='st_email_vcount' displayText='Email' st_title="{{ election.name }}" st_summary="{{ election.description }}" st_url="http://{{ request.META.HTTP_HOST }}{{ election.get_absolute_url }}"></span>
		</div>
	</div>
</div>
</div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "c15a8159-e3a6-4b10-bbee-a24ca6aa70f7"}); </script>
{% endblock extra_js %}
