{% extends "elections/embeded/base_embed.html" %}
{% load i18n %}
{% load election_tags %}
{% load thumbnail %}

{% block extra_head %}
{% endblock extra_head %}

{% block extra_js %}
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "c15a8159-e3a6-4b10-bbee-a24ca6aa70f7"}); </script>
{% endblock extra_js %}

{% block title %}
     {{ election.name }} - {{ block.super }}
{% endblock title %}

{% block content %}

<div class="contenedor3_embeded">
    <article>
                {% if election.description %}
                <p>{{ election.description }}</span>
                {% endif %}


<nav id="homeNavigation">
    
      <ul class="homeNav">
                <li class="homeLi homeListMedianaranja">
                    <a href="{% url "medianaranja1_embeded" election_slug=election.slug username=election.owner.username %}">
                        <h5>{% trans 'Media' %} <br/>{% trans 'Naranja' %}</h5>
                    </a>
                </li>
                <li class="homeLi homeListPerfiles">
                    <a href="{% url "election_detail_profiles_embeded" slug=election.slug username=election.owner.username %}">
                        <h5> {% trans 'Perfil de Candidatos' %}</h5>
                    </a>
                </li>
                <li class="homeLi homeListComparar">
                    <a href="{% url "election_compare_embeded" username=election.owner.username slug=election.slug %}">
                        <h5>{% trans 'Compara' %} <br> {% trans 'candidatos' %} </h5>
                    </a>
                </li>

            </ul>
    
        </nav>

    </article>
</div>

{% endblock content %}
