{% extends "elections/embeded/base_embed.html" %}
{% load i18n %}
{% load candidate_tags %}
{% load election_tags %}
{% load thumbnail %}


{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profileHome.css" />
{% endblock extra_head %}

{% block extra_js %}
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "c15a8159-e3a6-4b10-bbee-a24ca6aa70f7"}); </script>
{% endblock extra_js %}

{% block title %}
 {% trans "Perfil de candidatos" %}, {{ election.name }} - {{ block.super }}{% endblock title %}

{% block content %}

<div class="contenedor1_embeded">
    <div class="contenedor2_embeded">

                <div class="ico_tit"><img src="{{ STATIC_URL }}/img/ico_profiles.png" width="97" height="56" /></div>
    <div class="tit"><h3>{% trans 'PERFIL DE CANDIDATOS' %}</h3></div>

        <!--        ProfileHome   -->
        <ul class="profileHome">
            {% if election.candidate_set.all %}

            {% for candidate in election.candidate_set.all %}
            <li>
                <a href="{% url candidate_detail_embeded username=election.owner.username election_slug=election.slug slug=candidate.slug %}" class="link">
                    <div style="width: 115px; height: 144px; background-color: white; margin-top: 13px;">
                    {% thumbnail candidate.photo "115x144" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}" style="margin: {{ im|margin:"115x144" }};">
                    {% empty %}
                        {% if candidate.photo %}
                        <img src="{{ candidate.photo.url }}" alt="" width="115" height="144">
                        {% else %}
                        <img src="{{ STATIC_URL }}img/default-user.gif" alt="" width="115" height="144">
                        {% endif %}
                    {% endthumbnail %}
                    </div>
                    <span>{{ candidate.name }}</span>
                </a>
            </li>
            {% endfor %}{# election.candidate_set.all #}

            {% else %}
            <br>
            <center><h4>{% trans 'Esta elección no cuenta aún con Candidatos.' %}</h4></center>
            <br>
            {% endif %}
        </ul>

    </div>
</div>

{% endblock content %}
