{% extends "elections/base_edits.html" %}

{% load url from future %}
{% load i18n %}
{% block title %}{% trans "Recupera tu password" %}{% endblock title %}
{% block content %}


{% if validlink %}
{% endif %}

<div class="fondo_formulario">
    <div class="forms_content">
        <div class="logo"><img src="{{ STATIC_URL }}img/logo.png" /></div>
        <p>{% trans "Ingresa tu nuevo password dos veces" %}</p>

    <form method="post" action="">
    {% csrf_token %}
    
    
    <table>
    <tr>
        <div class="usuario">
            <span class="blue_edit">{% trans 'Nuevo password:' %}</span><span>{{ form.new_password1 }}</span>
        </div>
    </tr>
    <tr>
        <div class="usuario">
            <span class="blue_edit">{% trans 'Confirma tu password:' %}</span><span>{{ form.new_password2 }}</span>
        </div>
    </tr>
    </table>

    <input type="submit" class="bt" value="{% trans 'Enviar' %}" />


    
    </form>

    
    </div>    
</div>

{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wizard-forms.css">
{% endblock extra_head %}