{% extends 'elections/base_edits.html' %}
{% load i18n %}

{% block title %}
{% trans 'Información general de la elección' %}
{% endblock title %}


{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plantillas.css">
{% endblock extra_head %}

{% block content %}

<div class="contenedor_body">

<!-- MENU VERTICAL -->
      {% include 'elections/wizard/wizard_menu.html' with step='1' %}  
<!-- CIERRE MENU VERTICAL -->     
 
<!-- CONTENIDO -->    
    <div class="papel_edit">
    <div class="wrapper_plantillas">
    	<head>
        <h1>{% trans 'ELECCIÓN:' %}<span class="celeste">{% trans 'Para empezar, completa los siguientes datos...' %}</span></h1>
		<hr />
        </head>

		<section>
        <br/>
        

        <form id="newelection" method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ form.non_field_errors }}
            <p class="fieldWrapper">
                <label for="id_name" class="blue_edit">{{ form.name.label }}</label>
                {{ form.name }}
                {{ form.name.errors }}
            </p>
            
            <aside class='guide'>
            
			</aside>
            
            <p class="fieldWrapper">
                <label for="id_date" class="blue_edit">{% trans "¿Cuándo ocurrirá?" %}</label>
                {{ form.date }}
                {{ form.date.errors }}
            </p>
            <!--p class="fieldWrapper">
                <label for="id_template" class="blue_edit">{% trans 'Selecciona la plantilla de tu elección' %}</label><br />
                <select>
                    <option>{% trans "Elección de centro de alumnos" %}</option>
                </select>
            </p-->
                       
            
            <p class="fieldWrapper">
                <label for="id_description" class="blue_edit">{{ form.description.label }}</label><br />
                {{ form.description }}
                {{ form.description.errors }}
            </p>

            <p class="fieldWrapper">
                <label for="id_logo" class="blue_edit">{{ form.logo.label }}</label><br />
                {{ form.logo }}
                {{ form.logo.errors }}
            </p>
            
            <aside class='guide'>
            <div class="permalink">{% trans "Carga desde tu computador una imagen para el encabezado de 850 x 80 px" %}</div>
            </aside>

            <p class="fieldWrapper">
                <label for="id_source" class="blue_edit">{{ form.information_source.label }}</label><br />
                {{ form.information_source }}
                {{ form.information_source.errors }}
            </p><span><a class="bt" href="javascript: void(0);" onclick="document.forms['newelection'].submit();return false;">{% trans 'siguiente' %}
               </a></span>

        </form>
        
       
        </section>
    </div>
</div>
{% endblock %}

<!-- CIERRE CONTENIDO -->   

{% block extra_js %}
    {{ form.media }}
{% endblock %}
