 {% load i18n %}

<div class="candidate-edit-menu">
    <div class="menuedit_tit election_name {% if step == '1' %}selected{% endif %}">{% trans 'Crear'%}<span class="menuBig">{% trans 'Elección'%}</span></div><div class="menuNumero menuBig">1</div>
    <div class="menuedit_tit election_name {% if step == '2' %}selected{% endif %}">{% trans 'Crear'%}<span class="menuBig">{% trans 'Candidatos'%}</span></div><div class="menuNumero menuBig">2</div>
    <div class="menuedit_tit election_name {% if step == 'thanks' %}selected{% endif %}">{% trans 'Crear'%}<span class="menuBig">{% trans 'Respuestas'%}</span></div><div class="menuNumero menuBig">3</div>
</div>
